<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="left-content pull-left">
                <!--<img src="{{$root.logo}}">-->
                <span class="modal-title">{{title}}</span>
            </div>
            <div class="right-content pull-right">
                <button type="button" class="close" data-dismiss="modal"><i class="la la-close"></i></button>
                <button type="button" class="close" ng-click="onResizeDialog()"><span class="modal-resize"><i class="la la-expand"></i></span></button>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-md-{{col_group}} col-sm-{{col_group}}">
                <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Mã trình độ-->
                            <label for="inputEmp_Train_Mode_Code" class="col-sm-5 zb-form-label">${get_res('train_level_code','Mã loại Trình độ')}</label>
                            <div class="col-sm-7">
                                <input-text id="inputEmp_Train_Mode_Code" ng-model="entity.train_level_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên loại hình đào tạo-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('train_level_name','Tên loại Trình độ')}</label>
                            <div class="col-sm-7">
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.train_level_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <label for="inputEmp_QuitJob_Type" class="col-sm-5 zb-form-label">${get_res('range','Phân loại trình độ')}</label>
                            <div class="col-sm-7">
                                <input-select data-list="cbbTrainCof" ng-model="entity.range"
                                    placeholder="${get_res('range','Phân loại trình độ')}" 
                                    data-value="value" 
                                    data-caption="caption"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên khác-->
                            <label for="inputEmp_Train_Mode_Name2" class="col-sm-5 zb-form-label">${get_res('train_level_name2','Tên khác')}</label>
                            <div class="col-sm-7">
                                <input-text id="inputEmp_Train_Mode_Name2" ng-model="entity.train_level_name2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Thứ tự-->
                            <label for="inputOrdinal" class="col-sm-5 zb-form-label">${get_res('ordinal','Thứ tự')}</label>
                            <div class="col-sm-7">
                                <input-number id="inputOrdinal" ng-model="entity.ordinal">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Ngưng sử dụng-->
                            <label for="inputLock" class="col-sm-5 zb-form-label">${get_res('lock','Ngưng sử dụng')}</label>
                            <div class="col-sm-7">
                                <input-checkbox id="inputLock" ng-model="entity.lock">
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
            <div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
                <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
                    <div class="row">
                        <!--Ghi chú-->
                        <div class="col-sm-12">
                            <input-textarea rows="7" ng-model="entity.note"></input-textarea>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 16px;">
                        <div class="form-group zb-form-group">
                            <label for="DisplayInfo" class="col-sm-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                            <div class="col-sm-9">
                                <input-text value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
            <!--Thiết lập theo hệ số lương-->
            <div class="col-md-12 col-sm-12" style="padding-bottom:20px;">
                <collapse-box class="zb-form-common" title="${get_global_res('Set_by_salary','Thiết lập theo hệ số lương')}">
                    <div class="col-md-{{col_conf_sal}}">
                        <div class="form-group zb-form-group">
                            <label for="inputEmp_coeff" class="col-sm-5 zb-form-label">${get_res('acadame_coeff','Thiết lập theo')}</label>
                            <div class="col-sm-7">
                                <input-select data-list="cbbCoeff" 
                                ng-model="entity.coeff" 
                                placeholder="${get_res('acadame_coeff','Thiết lập theo')}" 
                                data-value="value" 
                                data-caption="caption" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col_conf_sal}}">
                        <div class="form-group zb-form-group">
                            <!--Hệ số cố định-->
                            <label for="inputEmp_is_fix" class="col-sm-5 zb-form-label">${get_res('is_fix','Hệ số cố định')}</label>
                            <div class="col-sm-7">
                                <input-number id="inputEmp_is_fix" ng-model="entity.is_fix">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col_conf_sal}}">
                        <div class="form-group zb-form-group">
                            <!--Tên loại hình đào tạo-->
                            <label for="inputEmp_begin_date_cal" class="col-sm-5 zb-form-label">${get_res('begin_date_cal','Ngày bắt đầu tính thâm niên')}</label>
                            <div class="col-sm-7">
                                <input-select data-list="cbbBeginDateCal" ng-model="entity.begin_date_cal"
                                    placeholder="${get_res('begin_date_cal','Ngày bắt đầu tính thâm niên')}" 
                                    data-value="value" 
                                    data-caption="caption"/>
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
            <div class="col-md-12" ng-hide="entity.coeff != 2 || __mode == 1">
                <collapse-box class="zb-form-common" title="${get_res('setting_acadame','Thiết lập chi tiết Trình độ học vấn')}">
                    <div class="pull-right hcs-profile-icon-heading-on-table">
                        <button class="zb-icon-button hcs-profile-group-title" ng-click="deleteDetail()">
                            <span>
                                <i class="la la-close"></i>
                            </span>
                        </button>
                    </div>
                    <div class="pull-right hcs-profile-icon-heading-on-table">
                        <button class="zb-icon-button hcs-profile-group-title" ng-click="addDetail()">
                            <span>
                                <i class="la la-pencil"></i>
                            </span>
                        </button>
                    </div>
                    <div class="pull-right hcs-profile-icon-heading-on-table">
                        <button class="zb-icon-button hcs-profile-group-title" ng-click="addDetail()">
                            <span>
                                <i class="la la-plus"></i>
                            </span>
                        </button>
                    </div>
                    <div class="form-group zb-form-group">
                        <div class="col-md-12" style="height:300px;">
                            <table-data data-source="tableSource" fields="tableFields" type="MultiSelect" 
                                paging="true" page-length="100" server-side="true" 
                                press-enter="onSelectTableRow" selected-items="selectedItems"
                                current-item="currentItem" search-text="tableSearchText"
                                refresh-row="refreshDataRow">
                            </table-data>
                        </div>
                    </div>
                </collapse-box>
            </div>
        </div>
        <div class="modal-footer">
            <div class="right-content pull-right">
                <button ng-click="saveNAdd($event)"><i class="la la-save"></i>${get_global_res('save_and_add','Lưu & thêm')}</button>
                <button ng-click="saveNClose($event)"><i class="la la-save"></i>${get_global_res('save_and_close','Lưu & đóng')}</button>
            </div>
        </div>
    </div>
</div>
<script>
    (function (scope) {
        scope.__mode = scope.$parent.mode;
        scope.onResizeDialog = onResizeDialog;
        scope.col = 12;
        scope.col_group = 6;
        scope.col_conf_sal = 6;
        scope.title = scope.$parent.headerTitle;
        var __entity = JSON.parse(JSON.stringify(scope.$parent.currentItem));
        //Mode 1: tạo mới, Mode 2: chỉnh sửa, Mode 3: sao chép
        scope.entity = scope.__mode == 2 ? __entity : null;

        //combobox source
        scope.cbbTrainCof = scope.$parent.LAcadameRange;
        scope.cbbCoeff = scope.$parent.LAcadameCoEff;
        scope.cbbBeginDateCal = scope.$parent.LBeginDateCal;

        //Nút lưu và thêm
        scope.saveNAdd = saveNAdd;
        //Nút lưu
        scope.saveNClose = saveNClose;
        //Nút thêm chi tiết
        scope.addDetail = addDetail;
        //Nút xóa chi tiết
        scope.deleteDetail = deleteDetail;
        //Nút sửa chi tiết
        scope.editDetail = editDetail;

        //Cấu hình tên field và caption hiển thị trên UI
        scope.tableFields = [
            { "data": "seniority_from", "title": "${get_res('seniority_from_table_header','Số tháng từ')}" },
            { "data": "seniority_to", "title": "${get_res('seniority_to_table_header','Số tháng đến')}" },
            { "data": "coefficient", "title": "${get_res('coefficient_table_header','Hệ số')}" },
            { "data": "salary", "title": "${get_res('salary_table_header','Mức lương')}" },
            { "data": "created_on", "title": "${get_res('created_on_table_header','Ngày tạo')}", "format": "date:" + scope.$root.systemConfig.date_format }
        ];
        scope.$$tableConfig = {};
        //Dữ liệu cho table
        scope.tableSource = _loadDataServerSide;
        function _loadDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText) {
            scope.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText
            };
            if (fnReloadData) {
                if (searchText) {
                    _tableData(iPage, iPageLength, orderBy, searchText, function (data) {
                        fnReloadData(data);
                    });
                } else {
                    _tableData(iPage, iPageLength, orderBy, null, function (data) {
                        fnReloadData(data);
                    });
                }
            }
        };
        scope.onSelectTableRow = function ($row) {
            editDetail();
        };
        //Danh sách các dòng đc chọn (nếu là table MultiSelect)
        scope.selectedItems = [];
        //Dòng hiện tại đang được focus (nếu table là SingleSelect hoặc MultiSelect)
        scope.currentItem = null;
        scope.tableSearchText = '';
        scope.SearchText = '';
        //Refesh table
        scope.refreshDataRow = function () { /*Do nothing*/ };
        scope._tableData = _tableData;
        function _tableData(iPage, iPageLength, orderBy, searchText, callback) {
            var sort = {};
            $.each(orderBy, function (i, v) {
                sort[v.columns] = (v.type === "asc") ? 1 : -1;
            });
            sort[orderBy[0].columns] =
                services.api("${get_api_key('app_main.api.HCSLS_Acadame/get_list_details_with_searchtext')}")
                    .data({
                        //parameter at here
                        "train_level_code": scope.entity ? scope.entity.train_level_code : " ",
                        "pageIndex": iPage - 1,
                        "pageSize": iPageLength,
                        "search": searchText,
                        "sort": sort
                    })
                    .done()
                    .then(function (res) {
                        var data = {
                            recordsTotal: res.total_items,
                            recordsFiltered: res.total_items,
                            data: res.items
                        };
                        callback(data);
                        scope.currentItem = null;
                        scope.$apply();
                    })
        }

        /**
         * Thay đỗi kích thước form Dialog và các control trên form dialog
         */
        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
            scope.col_conf_sal = scope.col_conf_sal == 6 ? 4 : 6;
        }

        function saveNClose() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNAdd() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            }
        }

        function addDetail() {
            scope.__detailMode = 1;
            openDialog("${get_res('config_detail_acadame','Thiết lập chi tiết trình độ học vấn')}", 'category/form/dialog/addAcadameDetail', function () { }, "dialogInputAcadameDetail");
        }

        function editDetail() {
            scope.__detailMode = 2;
            openDialog("${get_res('config_detail_acadame','Thiết lập chi tiết trình độ học vấn')}", 'category/form/dialog/addAcadameDetail', function () { }, "dialogInputAcadameDetail");
        }

        function deleteDetail() {
            if (!scope.selectedItems || scope.selectedItems.length === 0) {
            $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    services.api("${get_api_key('app_main.api.HCSLS_Acadame/delete_detail')}")
                        .data({
                            "train_level_code":scope.entity.train_level_code,
                            "rec_id": _.pluck(scope.selectedItems, 'rec_id')
                        })
                        .done()
                        .then(function (res) {
                            if (res.updatedExisting == true) {
                                _tableData(scope.$$tableConfig.iPage, scope.$$tableConfig.iPageLength, scope.$$tableConfig.orderBy, scope.$$tableConfig.SearchText, scope.$$tableConfig.fnReloadData);
                                $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                                scope.currentItem = null;
                                scope.selectedItems = [];
                            }
                            if (res.error != null || res.updatedExisting == false) {
                                $msg.alert("${get_global_res('Handle_Failed','Thao tác thất bại')}", $type_alert.DANGER);
                            }
                        })
                });
            }
        }

        function editData(callback) {
            var url = getUrl();
            if (scope.__mode == 3) {

            }
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {

        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.HCSLS_Acadame/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.HCSLS_Acadame/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
            tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.train_level_code);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('train_level_code_is_not_null','Mã loại Trình độ không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.train_level_name);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('train_level_name_is_not_null','Tên loại Trình độ không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            return rs;
        }

        /**
         * Hàm mở dialog
         * @param {string} title Tittle của dialog
         * @param {string} path Đường dẫn file template
         * @param {function} callback Xử lí sau khi gọi dialog
         * @param {string} id Id của form dialog, default = 'myModal'
         */
        function openDialog(title, path, callback, id = 'myModal') {

            //check tồn tại của form dialog theo id
            if ($('#' + id).length === 0) {
                scope.headerTitle = title;
                //Đặt ID cho form dialog
                dialog(scope, id).url(path).done(function () {
                    callback();
                    //Set draggable cho form dialog
                    $dialog.draggable();
                });
            }
        }

        scope.$watch('entity.coeff', function (val, old) {
            if (val == 2) {
                setTimeout(function () {
                    $(window).trigger('resize');
                }, 200);
            }
        }, true)
    });
</script>