
<%!
    #_style="width:300px;"
%>
<%inherit file="../../commons/dialog_save_close.html"/>

<%block name="modal_body">
            <div class="col-md-{{col_group}} col-sm-{{col_group}}" style="padding-bottom:20px;">
                <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
                    <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Mã dân tộc-->
                                <label for="inputEmp_Ethnic_Code" class="col-sm-5 zb-form-label">${get_res('ethnic_code','Mã dân tộc')}</label>
                                <div class="col-sm-7">
                                    <input-text id="inputEmp_Ethnic_Code" ng-model="entity.ethnic_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Tên dân tộc-->
                                <label for="inputEmp_Ethnic_Name" class="col-sm-5 zb-form-label">${get_res('ethnic_name','Tên dân tộc')}</label>
                                <div class="col-sm-7">
                                    <input-text id="inputEmp_Ethnic_Name" ng-model="entity.ethnic_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Tên khác-->
                                <label for="inputEmp_Ethnic_Name2" class="col-sm-5 zb-form-label">${get_res('ethnic_name2','Tên khác')}</label>
                                <div class="col-sm-7">
                                    <input-text id="inputEmp_Ethnic_Name2" ng-model="entity.ethnic_name2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Phạm vi-->
                                <label for="inputEmp_Range" class="col-sm-5 zb-form-label">${get_res('range','Phạm vi')}</label>
                                <div class="col-sm-7">
                                    <input-number id="inputEmp_Range" ng-model="entity.range">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Là dân tộc thiểu số-->
                                <label for="input_Is_Ethnic_Minority" class="col-sm-5 zb-form-label">${get_res('is_ethnic_minority','Là dân tộc thiểu số')}</label>
                                <div class="col-sm-7">
                                    <input-checkbox id="input_Is_Ethnic_Minority" ng-model="entity.is_ethnic_minority">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Thứ tự-->
                                <label for="inputOrdinal" class="col-sm-5 zb-form-label">${get_res('ordinal','Thứ tự')}</label>
                                <div class="col-sm-7">
                                    <input-number id="inputOrdinal" ng-model="entity.ordinal">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Ngưng sử dụng-->
                                <label for="inputLock" class="col-sm-5 zb-form-label">${get_res('lock','Ngưng sử dụng')}</label>
                                <div class="col-sm-7">
                                    <input-checkbox id="inputLock" ng-model="entity.lock">
                                </div>
                            </div>
                        </div>
                </collapse-box>
            </div>
            <div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}" style="padding-bottom:20px;">
                <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Ghi chú-->
                            <input-textarea rows="8" ng-model="entity.note"></input-textarea>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 16px;">
                        <div class="form-group zb-form-group">
                            <label for="DisplayInfo" class="col-sm-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                            <div class="col-sm-9">
                                <input-text 
                                            value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        scope.__mode = scope.$parent.mode;
        scope.onResizeDialog = onResizeDialog;
        scope.col = 12;
        scope.col_group = 6;
        scope.title = scope.$parent.headerTitle;
        var __entity = JSON.parse(JSON.stringify(scope.$parent.currentItem));
        //Mode 1: tạo mới, Mode 2: chỉnh sửa, Mode 3: sao chép
        scope.entity = scope.__mode == 2 ? __entity : null;

        //Nút lưu và thêm
        scope.saveNNext = saveNNext;

        //Nút lưu
        scope.saveNClose = saveNClose;

        /**
         * Thay đỗi kích thước form Dialog và các control trên form dialog
         */
        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }

        function saveNClose() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                        scope.$parent.$apply();
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            }
        }

        function editData(callback) {
            var url = getUrl();
            if (scope.__mode == 3) {

            }
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {

        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.HCSLS_Ethnic/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.HCSLS_Ethnic/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
            tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.ethnic_code);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('ethnic_code_is_not_null','Mã dân tộc không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.ethnic_name);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('ethnic_name_is_not_null','Tên dân tộc không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            return rs;
        }

    });
</script>
</%block>