#hcs-profile-panel-content {
    min-height: 600px;
    padding: 0px 40px 0px 15px;
    overflow: hidden;
    margin-bottom: 20px;
}
/*.col-form-label {
    font-size: .8rem;
    line-height: 1rem;
    color:grey;
    font-weight: 400 !important;
}

.form-control[readonly], .form-control {
    border-color: grey !important;
    color: #575962 !important;
}*/

.hcs-profile-group-title {
    color: #666666 !important;
    font-size: .875rem !important;
    line-height: 1rem;
    font-weight: 700;
}

.hcs-profile-group-title:hover {
    text-decoration: none;
    color: #666666 !important;
}

.hcs-profile-group-title:focus {
    text-decoration: none;
    color: #666666 !important;
}

.hcs-profile-icon-heading-on-table{
    margin-left:15px;
}

.hcs-profile-icon-heading-on-table button{
    padding-top:7px;
}

.hcs-profile-icon-heading-on-table span i {
    color: black;
}

.hcs-profile-background-group-table {
    background-color: #def0f2;
    height: 30px;
}

.hcs-profile-background-group-table a span i{
    font-size:20px;
    padding-top:5px;
}

.hcs-group-collapse-heading{
    margin-bottom:5px;
}

.hcs-group-collapse-heading button span i{
    font-size:10px;
    color:#27519D;
}
.hcs-profile-list {
    margin: unset;
    height: 100%;

    .hcs-left-side-department-content {
        width: 350px;
        height: 100%;
        float: left;
        border: 1px solid #d9d9d9;

        .hcs-left-side-department-tree-tool-bar {
            padding: 4px 0px;
        }

        .hcs-left-side-department-tree {
            width: 350px;
            height: 600px;
            overflow: auto;
        }
    }

    .hcs-right-side-department-content {
        width: calc(~'100% - 350px');
        height: 100%;
        float: left;
        border: 1px solid #d9d9d9;

        .hcs-right-side-department-list-tool-bar {
            padding: 4px 5px;
        }
    }
}