@txt_blue: #01638f;
@clb_font_size: 0.875px;

.zb-collapse-box {
    .zb-header {
        display: table;
        width: 100%;

        .zb-header-left {
            float: left;
        }

        .zb-header-right {
            float: right;
            display: table;

            toolbar {
                display: inline-flex;

                > * {
                    margin: 0 2.5px;
                }

                > *:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.zb-collapse-box.hcs-message-group {
    background: transparent;

    > .zb-header {
        padding: 5px 10px;
        border-bottom: 2px solid #01638f;

        .zb-header-content {
            display: table-row;
            color: #fff;
        }

        .zb-header-title {
            cursor: pointer;
            font-size: 15px;
            vertical-align: bottom;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 5px;
        }

        .zb-header-description {
            font-size: @clb_font_size;
            vertical-align: bottom;
            padding-left: 20px;
        }

        .zb-header-icon {
            cursor: pointer;
            font-size: @clb_font_size;
            float: left;
            padding-top: 1px;

            i.zb-icon-up {
                color: #FFF;
                display: inline-block;
                transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transition: all ease 0.3s;
            }

            i.zb-icon-down {
                color: #FFF;
                display: inline-block;
                transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transition: all ease 0.3s;
            }
        }
    }

    > .zb-content {
        margin-bottom: 10px;
    }
}

.zb-collapse-box.zb-dashboard {
    background: transparent;

    > .zb-header {
        padding-bottom: 20px;

        .zb-header-content {
            display: table-row;
            color: @txt_blue;
        }

        .zb-header-title {
            cursor: pointer;
            font-size: 15px;
            vertical-align: bottom;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 5px;
        }

        .zb-header-description {
            font-size: 13px;
            vertical-align: bottom;
            padding-left: 20px;
        }

        .zb-header-icon {
            cursor: pointer;
            font-size: 14px;
            float: left;

            i.zb-icon-up {
                color: #555;
                display: inline-block;
                transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transition: all ease 0.3s;
            }

            i.zb-icon-down {
                color: #555;
                display: inline-block;
                transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transition: all ease 0.3s;
            }
        }
    }

    > .zb-content {
        margin-bottom: 10px;
    }
}

.zb-collapse-box.zb-form-common {
    background: transparent;
    height: 100%;

    > .zb-header {
        padding-bottom: 5px;
        padding-top: 10px;
        border-bottom: 1px solid @txt_blue;
        display: table;
        width: 100%;
        position: relative;
        /*.zb-header-left {
            position: absolute;
            bottom: 5px;
        }*/
        .zb-header-right {
            position: absolute;
            bottom: 5px;
            right: 0;
            line-height: 0;
        }

        .zb-header-content {
            display: table-row;
            color: #333;
        }

        .zb-header-title {
            cursor: pointer;
            font-size: 14px;
            vertical-align: bottom;
            text-transform: uppercase;
            /* font-weight: bold; */
            padding-left: 5px;
        }

        .zb-header-description {
            font-size: 13px;
            vertical-align: bottom;
            padding-left: 20px;
        }

        .zb-header-icon {
            cursor: pointer;
            font-size: 14px;
            float: left;
            padding-top: 3px;

            i.zb-icon-up {
                color: #555;
                display: inline-block;
                transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transition: all ease 0.3s;
            }

            i.zb-icon-down {
                color: #555;
                display: inline-block;
                transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transition: all ease 0.3s;
            }
        }
    }

    > .zb-content {
        margin-bottom: 10px;
        padding-top: 10px;
    }
}

.zb-collapse-box.zb-datatable {
    background: transparent;
    height: 100%;

    > .zb-header {
        padding-bottom: 5px;
        padding-top: 10px;
        padding: 5px 0 5px 7px;
        border-bottom: 1px solid @txt_blue;

        .zb-header-content {
            display: table-row;
            color: #333;
        }

        .zb-header-title {
            cursor: pointer;
            font-size: 14px;
            vertical-align: bottom;
            text-transform: uppercase;
            /* font-weight: bold; */
            padding-left: 5px;
            line-height: 22px;
        }

        .zb-header-description {
            font-size: 13px;
            vertical-align: bottom;
            padding-left: 20px;
        }

        .zb-header-icon {
            cursor: pointer;
            font-size: 14px;
            float: left;

            i.zb-icon-up {
                color: #555;
                display: inline-block;
                transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transition: all ease 0.3s;
            }

            i.zb-icon-down {
                color: #555;
                display: inline-block;
                transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transition: all ease 0.3s;
            }
        }
    }

    > .zb-content {
        height: calc(~'100% - 33px');
        /*margin-bottom: 10px;*/
    }
}

.zb-tile-box-w1 {
    width: 170px;
    height: 170px;
    background: #fff;
    box-shadow: 0px 0px 5px #9c9c9c;
    padding: 1px;
    margin: 0 10px 10px 0;
    flex: 0 0 170px;
}

.zb-tile-box-w2 {
    width: 350px;
    height: 170px;
    background: #fff;
    box-shadow: 0px 0px 5px #9c9c9c;
    padding: 2px;
    margin: 0 10px 10px 0;
    flex: 0 0 350px;
}

.zb-tile-box {
    float: left;
    position: relative;

    .zb-tile-header {
        background: #fafafa;
        border-bottom: 1px solid #eee;
        font-weight: bold;
        font-size: 14px;
        padding: 5px;
        display: table;
        width: 100%;

        .zb-tile-header-left {
            float: left;
            color: #555;
        }

        .zb-tile-header-right {
            float: right;
            color: #ef4438
        }
    }

    .zb-tile-content {
        padding: 5px;
        font-size: 12px;
        color: #555;

        p {
            margin-bottom: 5px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }

        .zb-tile-content-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: right;
            padding: 5px;
            font-size: 30px;
            color: #e9e9e9;

            .zb-tile-icon {
                padding-right: 5px;
                font-size: 36px;
            }

            .zb-tile-number {
                color: #008ccb;
            }

            .zb-tile-number.red {
                color: #ef4438;
            }

            .zb-tile-number.green {
                color: #30b98f;
            }

            .zb-tile-number.blue {
                color: #008ccb;
            }

            .zb-tile-number.white {
                color: #fff;
            }

            .zb-tile-number.orange {
                color: #f8981d;
            }

            .zb-tile-number.gray {
                color: #999;
            }
        }
    }
}

.zb-tile-box:hover {
    box-shadow: 0px 0px 7px #5c5c5c;
}
