<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="lvpython" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27amd64\python.exe|E:\tfs2017\HRP2018\SourceCode\HRP2018\HRP2018\wfastcgi.py" resourceType="Unspecified" />
            <!--<add name="w-python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27amd64\python.exe|C:\hcs2018\SourceCode\HRP2018\HRP2018\wfastcgi.py" resourceType="Unspecified" />-->
        </handlers>
    </system.webServer>
</configuration>
