<style>
    .hcs-navigation-panel-button {
        list-style-type:none;
        display:inline-flex;
    }

    .hcs-navigation-panel-button li {
        float:left;
    }

    .zb-content {
        background-color:transparent !important;
    }
    .zb-tab-container {
        overflow:unset !important;
    }
</style>
<div class="hcs-container">
    <div class="row hcs-profile-list">
        <div class="hcs-left-side-department-content">
            <div class="hcs-left-side-department-tree-tool-bar">
                <div class="pull-left" style="padding-left:10px;">
                    <input-text-icon ng-model="treeSearchText" style="width:255px;"></input-text-icon>
                </div>
                <div class="pull-left" style="padding-left:10px;">
                    <button class="zb-btn" ng-click="$treeCollapseAll()">
                        <i class="bowtie-icon bowtie-chevron-up-all"></i>
                    </button>
                </div>
                <div class="pull-left" style="padding-left:5px;">
                    <button class="zb-btn"  ng-click="$treeExpandAll()">
                        <i class="bowtie-icon bowtie-chevron-down-all"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="hcs-left-side-department-tree" style="height: calc(100% - 38px);">
                <tree-data data-source="$$tree.treeDataSource" 
                           display-field="factor_group_name"
                           parent-field="parent_code" 
                           key-field="factor_group_code" 
                           multi-select="$$tree.treeMultiSelect" 
                           select-mode="$$tree.treeMode" 
                           on-select="$$tree.selectTreeNode"
                           current-node="$$tree.treeCurrentNode"
                           selected-nodes="$$tree.treeSelectedNodes"
                           selected-root-nodes="$$tree.treeSelectedRootNodes"
                           search-text="$$tree.treeSearchText"
                           check-all="$$tree.treeCheckAll"
                           checked-field="is_selected"
                           disabled="true"
                           expand-all="$treeExpandAll"
                           collapse-all="$treeCollapseAll"/>
            </div>
        </div>
        <div class="hcs-right-side-department-content">
            <div class="hcs-right-side-department-list-tool-bar">
                <div class="zb-left-content pull-left" style="width:calc(100% - 240px);">
                    <div class="row">
                        <div class="col-md-12">
                            <input-text-icon id="tableSearchText" on-click="onSearch(searchText)" ng-model="searchText"></input-text-icon>
                        </div>
                    </div>
                </div>
                <div class="zb-right-content pull-right">
                    <button class="zb-btn zb-btn-o-green" ng-click="onAdd()">
                        <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
                    <button class="zb-btn zb-btn-o-blue" ng-click="onEdit()">
                        <i class="bowtie-icon bowtie-edit-outline"></i>
                    </button>
                    <button class="zb-btn zb-btn-o-red" ng-click="onDelete()">
                        <i class="bowtie-icon bowtie-edit-remove"></i>
                    </button>
                    <button class="zb-btn" ng-click="onImport()">
                        <i class="bowtie-icon bowtie-transfer-upload"></i>
                    </button>
                    <button class="zb-btn" ng-click="onExport()">
                        <i class="bowtie-icon bowtie-transfer-download"></i>
                    </button>
                    <button class="zb-btn" ng-click="onAttach()">
                        <i class="bowtie-icon bowtie-print"></i>
                    </button>
                    <button class="zb-btn" ng-click="onRefresh()">
                        <i class="bowtie-icon bowtie-navigate-refresh"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="hcs-right-side-department-list" style="height:93%;">
                <table-data data-source="$$table.tableSource" 
                            fields="$$table.tableFields" 
                            type="MultiSelect" 
                            paging="true" 
                            page-length="100" 
                            server-side="true" 
                            press-enter="$$table.onSelectTableRow" 
                            selected-items="$$table.selectedItems" 
                            current-item="$$table.currentItem" 
                            search-text="$$table.tableSearchText"
                            refresh-row="$$table.refreshDataRow">
                </table-data>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    <%include file="scripts/factorappraisal.js"/>
</script>
