<div class="pull-right" id="hcs-toolbar">
    <div class="pull-right" style="margin-right:1rem;">
        <a href="javascript:void(0)" ng-click="onConfig()">
            <span>
                <i class="la la-cog"></i>
            </span>
        </a>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onImport()">
            <span>
                <i class="la la-upload"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" href="javascript:void(0)" ng-click="onExport()">
            <span>
                <i class="la la-download"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onPrint()">
            <span>
                <i class="la la-print"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onUndo()">
            <span>
                <i class="la la-undo"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onSave()">
            <span>
                <i class="la la-floppy-o"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onEdit()">
            <span>
                <i class="la la-pencil"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onDelete()">
            <span>
                <i class="la la-trash"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onCopy()">
            <span>
                <i class="la la-copy"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button" ng-click="onAdd()">
            <span>
                <i class="la la-plus"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <button class="zb-icon-button">
            <span onclick="$('#hcs-admin-system-txtSearch').focus();">
                <i class="la la-search"></i>
            </span>
        </button>
    </div>
    <div class="pull-right">
        <input type="text" id="hcs-admin-system-txtSearch" class="form-control zb-form-input" ng-model="searchCommon" placeholder="Tìm kiếm">
    </div>
</div>