
<%!
    #_style="width:300px;"
%>
<%inherit file="../../commons/dialog_save_close.html"/>

<%block name="modal_body">
<div class="col-md-{{col_group}} col-sm-{{col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
        <div class="col-md-{{col}}">
            <div class="form-group zb-form-group">
                <!--Mã yếu tố-->
                <label class="col-sm-5 zb-form-label">${get_res('factor_code','Mã yếu tố')}</label>
                <div class="col-sm-7">
                    <input-text ng-model="entity.factor_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                </div>
            </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên yếu tố-->
                    <label class="col-sm-5 zb-form-label">${get_res('factor_name','Tên yếu tố')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.factor_name" required>
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên khác-->
                    <label class="col-sm-5 zb-form-label">${get_res('factor_name2','Tên khác')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.factor_name2">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Thuộc nhóm-->
                    <label class="col-sm-5 zb-form-label">${get_res('parent_code','Thuộc nhóm')}</label>
                    <div class="col-sm-7">
                        <input-combobox 
                                list-code="${encryptor.get_key('cbb_tmls_factor_appraisal_group')}"
                                list-value="[{ '@lock': true }]"
                                current-item="entity.factor_group_code"
                                multi-select="false">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Trọng số-->
                    <label class="col-sm-5 zb-form-label">${get_res('weight','Trọng số')}</label>
                    <div class="col-sm-7">
                        <input-number ng-model="entity.weight">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Áp dụng toàn công ty-->
                    <label class="col-sm-5 zb-form-label">${get_res('is_apply_all','Áp dụng toàn công ty')}</label>
                    <div class="col-sm-7">
                        <input-checkbox ng-model="entity.is_apply_all">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Áp dụng theo chức danh-->
                    <label class="col-sm-5 zb-form-label">${get_res('ordinal','Thứ tự')}</label>
                    <div class="col-sm-7">
                        <input-combobox
                                list-code="${encryptor.get_key('cbb_tmls_factor_appraisal_group')}"
                                list-value="[{ '@lock': true }]"
                                current-item="entity.job_working"
                                multi-select="false">
                    </div>
                </div>
            </div>
    </collapse-box>
</div>
<div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
        <div class="col-sm-12">
            <!--Ghi chú-->
            <div class="form-group zb-form-group">
                <div class="col-sm-12 no-padding">
                    <input-textarea rows="5" ng-model="entity.note"></input-textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 16px;">
            <div class="form-group zb-form-group">
                <label for="DisplayInfo" class="col-sm-4 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                <div class="col-sm-8">
                    <input-text value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group zb-form-group">
                <!--Thứ tự-->
                <label class="col-sm-4 zb-form-label">${get_res('ordinal','Thứ tự')}</label>
                <div class="col-sm-8">
                    <input-number ng-model="entity.ordinal">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group zb-form-group">
                <!--Ngưng sử dụng-->
                <label class="col-sm-4 zb-form-label">${get_res('lock','Ngưng sử dụng')}</label>
                <div class="col-sm-8">
                    <input-checkbox ng-model="entity.lock">
                </div>
            </div>
        </div>
    </collapse-box>
</div>
</%block>

<%block name="modal_script">
<script>
    
    (function (scope) {
        var __default = {
            factor_code: null,
            factor_name: null,
            factor_name2: null,
            factor_group_code: scope.$parent.$$tree.treeCurrentNode.factor_group_code,
            weight: null,
            is_apply_all: false,
            job_working: null,
            note: null,
            ordinal: null,
            lock: false,
            created_on: null,
            created_by: null,
            modified_on: null,
            modified_bys:null
        };
        scope.__mode = scope.$parent.mode;
        scope.title = scope.$parent.headerTitle;
        scope.col = 12;
        scope.col_group = 6;
        scope.entity = scope.__mode == 2 ? scope.$parent.$$table.currentItem : __default;
        scope.onResizeDialog = onResizeDialog;
        //Nút lưu và thêm
        scope.saveNNext = saveNNext;
        //Nút lưu
        scope.saveNClose = saveNClose;

        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }

        function saveNClose() {
            debugger
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    debugger
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            reloadData();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            reloadData();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                        scope.$parent.$apply();
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            }
        }

        function editData(callback) {
            debugger
            var url = getUrl();
            if (scope.__mode == 3) {

            }
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {

        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.TMLS_FactorAppraisal/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.TMLS_FactorAppraisal/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            debugger
            var tableConfig = scope.$parent.$$table.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
            tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.factor_code);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('factor_code_is_not_null','Mã yếu tố không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.factor_name);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('factor_name_is_not_null','Tên yếu tố không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            return rs;
        }
    });
</script>

</%block>