<div class="hcs-body clearfix">
    <div class="col-md-12">
        <collapse-box class="zb-dashboard" ng-repeat="function in $functions" 
                      title="{{function.default_name}}" description="{{function.description}}"
                      ng-if="!function.parent_id">

            <div style="padding-left: 20px;" class="container-fluid">
                <div class="hcs-home-body-tile" id="hcs-body-{{function.function_id}}">
                        <tile-box ng-repeat="child in function.child_items" title="{{child.custom_name}}"
                            description="{{child.description}}"
                            width="{{child.width}}" ng-click="handleEvent.redirectPage(child)"></tile-box>
                    </div>
            </div>
            
        </collapse-box>
    </div>
</div>
<script>
    <%include file="../scripts/home.js"/>
</script>
