<div class="hcs-container">
    <div class="row" style="margin:unset;">
        <hcs-breadcumb data="mapName" function="currentFunction" on-edit="onEdit()" on-add="onAdd('hello1', 'hello2')"></hcs-breadcumb>
        <div class="col-md-12" id="hcs-admin-system-container">
            <hcs-left-menu data="mapName" avatar="true" src="'https://orig00.deviantart.net/01b9/f/2015/331/1/4/doraemon___nobita_duck_face_vector_by_jewel_chanxoxo-d9i99ov.png'"></hcs-left-menu>
            <div class="hcs-system-admin-content" style="padding:30px 15px 30px 15px;">
                    <div class="tab-content col-md-12" id="hcs-admin-system-panel-content">
                    <div id="function1" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <p class="hcs-group-collapse-heading">
                                        <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseCurriculumVitae').slideToggle();">
                                            <span>
                                                <i class="la la-angle-down"></i>
                                            </span>
                                            Lý lịch cá nhân
                                        </button>
                                    </p>
                                </div>
                                <div class="row" id="collapseCurriculumVitae">
                                    <div class="col-md-6">
                                        <div class="form-group row hcs-group-form-group">
                                            <!--Mã nhân viên-->
                                            <label for="inputEmployeeId" class="col-sm-4 zb-form-label">Mã nhân viên</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputEmployeeId" required
                                                            ng-model="data.curriculum_vitae.code">
                                            </div>
                                        </div>
                                        <div class="form-group row hcs-group-form-group">
                                            <!--Họ-->
                                            <label for="inputLastName" class="col-sm-4 zb-form-label">Họ</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputLastName"
                                                            ng-model="data.curriculum_vitae.last_name"
                                                            required>
                                            </div>
                                        </div>
                                        <div class="form-group row hcs-group-form-group">
                                            <!--Tên-->
                                            <label for="inputFirstName" class="col-sm-4 zb-form-label">Tên</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputFirstName"
                                                            ng-model="data.curriculum_vitae.first_name"
                                                            required>
                                            </div>
                                        </div>
                                        <div class="form-group row hcs-group-form-group">
                                            <!--Giới tính-->
                                            <label for="inputGender" class="col-sm-4 zb-form-label">Giới tính</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.gender" ng-model="data.curriculum_vitae.gender" placeholder="Chọn giới tính" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row hcs-group-form-group">
                                            <!--Quốc gia-->
                                            <label for="inputNational" class="col-sm-4 zb-form-label">Quốc gia</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.nation" ng-model="data.curriculum_vitae.nation" placeholder="Tìm kiếm quốc gia" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <div class="form-group row hcs-group-form-group">
                                            <!--Dân tộc-->
                                            <label for="inputNational" class="col-sm-4 zb-form-label">Dân tộc</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.folk" ng-model="data.curriculum_vitae.folk" placeholder="Tìm kiếm dân tộc" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <div class="form-group row hcs-group-form-group">
                                            <!--Tôn giáo-->
                                            <label for="inputNational" class="col-sm-4 zb-form-label">Tôn giáo</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.religion" ng-model="data.curriculum_vitae.religion" placeholder="Tìm kiếm tôn giáo" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <p class="hcs-group-collapse-heading">
                                        <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseOther').slideToggle();">
                                            <span>
                                                <i class="la la-angle-down"></i>
                                            </span>
                                            Khác
                                        </button>
                                    </p>
                                </div>
                                <div id="collapseOther">
                                    <form>
                                        <!--Trình độ học vấn-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputCulture" class="col-sm-4 zb-form-label">Trình độ học vấn</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.culture" ng-model="data.other.culture" placeholder="Tìm kiếm trình độ học vấn" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Hình thức đào tạo-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputExercitatione" class="col-sm-4 zb-form-label">Hình thức đào tạo</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.exercitatione" ng-model="data.other.exercitatione" placeholder="Tìm kiếm hình thức đào tạo" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Trình độ văn hóa-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputEducationem" class="col-sm-4 zb-form-label">Trình độ văn hóa</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.educationem" ng-model="data.other.educationem" placeholder="Tìm kiếm trình độ văn hóa" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Tình trạng hôn nhân-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputMarried" class="col-sm-4 zb-form-label">Tình trạng hôn nhân</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.married" ng-model="data.other.married" placeholder="Tìm kiếm tình trạng hôn nhân" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:30px;">
                            <div class="col-md-4">
                                <div class="row">
                                    <p class="hcs-group-collapse-heading">
                                        <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseIdentity').slideToggle();">
                                            <span>
                                                <i class="la la-angle-down"></i>
                                            </span>
                                            Chứng minh nhân dân
                                        </button>
                                    </p>
                                </div>
                                <div id="collapseIdentity">
                                    <form>
                                        <!--Số CMND-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputIdentityNumber" class="col-sm-4 zb-form-label">Số</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputIdentityNumber" ng-model="data.identity.identity_number">
                                            </div>
                                        </div>
                                        <!--Ngày cấp-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputBeginningDate" class="col-sm-4 zb-form-label">Ngày cấp</label>
                                            <div class="col-sm-8">
                                                <!--<input type="date" class="form-control hcs-input-textbox" id="inputBeginningDate"/>-->
                                                <date-picker ng-model="data.identity.beginning_date" data-format="yyyy-MM-dd"/>
                                            </div>
                                        </div>
                                        <!--Nơi cấp-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputRegion" class="col-sm-4 zb-form-label">Nơi cấp</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.city" ng-model="data.identity.city" placeholder="Tìm kiếm nơi cấp" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Dấu vết đặc biệt-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputVestigeSpecial" class="col-sm-4 zb-form-label">Dấu vết đặc biệt</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputVestigeSpecial" ng-model="data.identity.vestige_special"/>
                                            </div>
                                        </div>
                                        <!--Mã số thuế-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputTaxNumber" class="col-sm-4 zb-form-label">Mã số thuế</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputTaxNumber" ng-model="data.identity.tax_number"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <p class="hcs-group-collapse-heading">
                                        <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapsePaperBirth').slideToggle();">
                                            <span>
                                                <i class="la la-angle-down"></i>
                                            </span>
                                            Giấy khai sinh
                                        </button>
                                    </p>
                                </div>
                                <div id="collapsePaperBirth">
                                    <form>
                                        <!--Ngày sinh-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputIdentityNumber" class="col-sm-4 zb-form-label">Ngày sinh</label>
                                            <div class="col-sm-8">
                                                <date-picker ng-model="data.birth_page.birth_date" data-format="yyyy-MM-dd"/>
                                                <!--<input type="date" class="form-control hcs-input-textbox" id="inputBirthday">-->
                                            </div>
                                        </div>
                                        <!--Ngày đăng ký-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputRegisteredDate" class="col-sm-4 zb-form-label">Ngày cấp</label>
                                            <div class="col-sm-8">
                                                <date-picker ng-model="data.birth_page.birth_date1" data-format="yyyy-MM-dd"/>
                                                <!--<input type="date" class="form-control hcs-input-textbox" id="inputRegisteredDate"/>-->
                                            </div>
                                        </div>
                                        <!--Nơi đăng ký-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputRegisteredPlace" class="col-sm-4 zb-form-label">Nơi đăng ký</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.city" ng-model="data.birth_page.city" placeholder="Tìm kiếm nơi đăng ký" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Quận huyện-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputCounty" class="col-sm-4 zb-form-label">Quận/huyện</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.district" ng-model="data.birth_page.district" placeholder="Tìm kiếm quận huyện" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Xã phường-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputDistrict" class="col-sm-4 zb-form-label">Xã/phường</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.ward" ng-model="data.birth_page.ward" placeholder="Tìm kiếm xã phường" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Thôn xóm-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputVillage" class="col-sm-4 zb-form-label">Thôn/xóm</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.area" ng-model="data.birth_page.area" placeholder="Tìm kiếm thôn xóm" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <p class="hcs-group-collapse-heading">
                                        <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseContactInfo').slideToggle();">
                                            <span>
                                                <i class="la la-angle-down"></i>
                                            </span>
                                            Thông tin liên hệ
                                        </button>
                                    </p>
                                </div>
                                <div id="collapseContactInfo">
                                    <form>
                                        <!--Địa chỉ tạm chú-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputIdentityNumber" class="col-sm-4 zb-form-label">Địa chỉ tạm trú</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputIdentityNumber" ng-model="data.contract.temp_address">
                                            </div>
                                        </div>
                                        <!--Địa chỉ thường chú-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputRegion" class="col-sm-4 zb-form-label">Địa chỉ thường trú</label>
                                            <div class="col-sm-8">
                                                <input-text id="inputIdentityNumber" ng-model="data.contract.address">
                                            </div>
                                        </div>
                                        <!--Tỉnh thành-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputBeginningDate" class="col-sm-4 zb-form-label">Tỉnh/thành</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.city" ng-model="data.contract.city" placeholder="Tìm kiếm tỉnh thành" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Quận huyện-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputBeginningDate" class="col-sm-4 zb-form-label">Quận/huyện</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.district" ng-model="data.contract.district" placeholder="Tìm kiếm quận huyện" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Xã phường-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputTaxNumber" class="col-sm-4 zb-form-label">Xã/phường</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.ward" ng-model="data.contract.ward" placeholder="Tìm kiếm xã phường" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                        <!--Thôn xóm-->
                                        <div class="form-group row hcs-group-form-group">
                                            <label for="inputTaxNumber" class="col-sm-4 zb-form-label">Thôn/xóm</label>
                                            <div class="col-sm-8">
                                                <input-select data-list="dataSourceCombobox.area" ng-model="data.contract.area" placeholder="Tìm kiếm thôn xóm" data-value="value" data-caption="caption"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:30px;">
                            <div class="col-md-12">
                                <div class="row" style="padding-right:15px;">
                                    <div class="hcs-profile-background-group-table">
                                        <div class="pull-left hcs-profile-icon-heading-on-table" style="height: 100%;padding-right: 3px;background: white;margin-left: unset;">
                                            <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseTableInfo').slideToggle();">
                                                <span>
                                                    <i class="la la-angle-down" style="font-size:0.7rem;"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="pull-left hcs-profile-icon-heading-on-table" style="margin-left: unset;">
                                            <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseTableInfo').slideToggle();">
                                            Thông tin thân nhân
                                            </button>
                                        </div>
                                        <div class="pull-right hcs-profile-icon-heading-on-table">
                                            <button class="zb-icon-button hcs-profile-group-title">
                                                <span>
                                                    <i class="la la-close"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="pull-right hcs-profile-icon-heading-on-table">
                                            <button class="zb-icon-button hcs-profile-group-title">
                                                <span>
                                                    <i class="la la-copy"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="pull-right hcs-profile-icon-heading-on-table">
                                            <button class="zb-icon-button hcs-profile-group-title" ng-click="onEditTableInfo()">
                                                <span>
                                                    <i class="la la-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="collapseTableInfo">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Tên thân nhân</th>
                                          <th>Quan hệ</th>
                                          <th>Giới tính</th>
                                          <th>Ngày sinh</th>
                                          <th>Giảm trừ phụ thuộc</th>
                                          <th>Là chủ hộ</th>
                                          <th>Thời điểm tạo</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="data in data.list_relative">
                                          <td>
                                            <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox"> <span></span>
                                                </label>
                                            </div>
                                          </td>
                                          <td>{{data.name}}</td>
                                          <td>{{data.relation}}</td>
                                          <td>{{data.gender}}</td>
                                          <td>{{data.birthday}}</td>
                                          <td>
                                              <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" checked="{{data.dependent}}"> <span></span>
                                                </label>
                                              </div>
                                          </td>
                                          <td>
                                              <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" checked="{{data.host}}"> <span></span>
                                                </label>
                                              </div>
                                          </td>
                                          <td>{{data.createddate}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="function2" class="tab-pane fade">
                        <!--<div class="row">
                            <div class="col-md-6">
                                <div class="hcs-profile-background-group-table">
                                    <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseTableBaseSalary').slideToggle();">
                                        <span>
                                            <i class="la la-angle-down" style="font-size:unset;"></i>
                                        </span>
                                        Lương cơ bản
                                    </button>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-close"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-copy"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-plus"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseTableBaseSalary">
                                    <table class="table table-sm table-hover">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Số quyết định</th>
                                          <th>Ngày hiệu lực</th>
                                          <th>Lương cơ bản</th>
                                          <th>Lương đóng bảo hiểm xã hội</th>
                                          <th>Ngày hết hạn</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="data in tableData">
                                          <td><input type="checkbox" checked="true"/></td>
                                          <td>{{'QD0' + $index + 1}}</td>
                                          <td>{{data.createddate}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{data.createddate}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="hcs-profile-background-group-table">
                                    <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseTablePaySacle').slideToggle();">
                                        <span>
                                            <i class="la la-angle-down" style="font-size:unset;"></i>
                                        </span>
                                        Lương chức danh
                                    </button>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-close"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-copy"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-plus"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseTablePaySacle">
                                    <table class="table table-sm table-hover">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Số quyết định</th>
                                          <th>Ngày hiệu lực</th>
                                          <th>Lương chức danh</th>
                                          <th>Hệ số phân bổ</th>
                                          <th>Ngày hết hạn</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="data in tableData">
                                          <td><input type="checkbox" checked="true"/></td>
                                          <td>{{'QD0' + $index + 1}}</td>
                                          <td>{{data.createddate}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{data.createddate}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="hcs-profile-background-group-table">
                                    <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseTableAllowance').slideToggle();">
                                        <span>
                                            <i class="la la-angle-down" style="font-size:unset;"></i>
                                        </span>
                                        Phụ cấp
                                    </button>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-close"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-copy"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-plus"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseTableAllowance">
                                    <table class="table table-sm table-hover">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Số quyết định</th>
                                          <th>Ngày hiệu lực</th>
                                          <th>Loại phụ cấp</th>
                                          <th>Số tiền</th>
                                          <th>Ngày hết hạn</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="data in tableData">
                                          <td><input type="checkbox" checked="true"/></td>
                                          <td>{{'QD0' + $index + 1}}</td>
                                          <td>{{data.createddate}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{data.createddate}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="hcs-profile-background-group-table">
                                    <button class="zb-icon-button" onclick="$('#collapseTableOtherIncome').slideToggle();">
                                        <span>
                                            <i class="la la-angle-down" style="font-size:unset;"></i>
                                        </span>
                                        Thu nhập khác
                                    </button>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-close"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-copy"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="pull-right hcs-profile-icon-heading-on-table">
                                        <a href="#">
                                            <span>
                                                <i class="la la-plus"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseTableOtherIncome">
                                    <table class="table table-sm table-hover">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Số quyết định</th>
                                          <th>Ngày hiệu lực</th>
                                          <th>Loại thu nhập</th>
                                          <th>Số tiền</th>
                                          <th>Ngày hết hạn</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="data in tableData">
                                          <td><input type="checkbox" checked="true"/></td>
                                          <td>{{'QD0' + $index + 1}}</td>
                                          <td>{{data.createddate}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{'10000' + $index}}</td>
                                          <td>{{data.createddate}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                         -->
                    </div>
                    <div id="function3" class="tab-pane fade">

                    </div>
                    <div id="function4" class="tab-pane face">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    <%include file="../scripts/profile.js"/>
</script>
