<div class="hcs-container" style="height: 100%">
    <page-sidebar on-add="onAdd" 
                  on-edit="onEdit" 
                  on-delete="onDelete" 
                  on-save="onSave" 
                  on-import="onImport" 
                  on-export="onExport"
                  on-search-press="onSearch"
                  source="mapName" 
                  key-field="function_id" 
                  display-field="default_name" 
                  icon-field="icon" 
                  selected-key="selectedFunction"
                  reload-on-change="true"
                  advanced-search="advancedSearch">
        <site-map>
            <a><span>{{$root.currentFunction.default_name}}</span></a>
            <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
            <span>{{currentFunction.default_name}}</span></site-map>
        <!--on-search-change="onSearch"-->
        <advanced-search>
            <!--Combox filter data của màn hình phân cấp hành chính-->
            <div class="col-xs-3" ng-if="selectedFunction == 'HCSSYS0380'">
                <input-combobox
                            list-code="${encryptor.get_key('cbb_region')}"
                            list-value="[{ '@region_code': true }]"
                            current-item="advancedSearch.main_region_code"
                            multi-select="false">
            </div>
            <div class="col-xs-3" ng-if="selectedFunction == 'HCSSYS0380'">
                <input-combobox
                            list-code="${encryptor.get_key('cbb_nation')}"
                            list-value="[{ '@nation_code': '' }]"
                            current-item="advancedSearch.main_nation_code"
                            multi-select="false">
            </div>
            <!--Combox filter data của màn hình phân cấp hành chính-->
        </advanced-search>
        <content>
            <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </content>
    </page-sidebar>
</div>
<script>
    <%include file="../scripts/learning_material.js"/>
</script>
