<div class="modal-dialog" style="width:30%">
    <div class="modal-content">
        <div class="modal-header">
            <div class="left-content pull-left">
                <!--<img src="{{$root.logo}}">-->
                <span class="modal-title">{{title}}</span>
            </div>
            <div class="right-content pull-right">
                <button type="button" class="close" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>
        </div>
        <div class="modal-body">
            <div title="{{$parent.headerTitle}}" style="height:100%;">
                <div class="col-md-12">
                    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <!--Đối tượng thiết lập-->
                                <label class="col-md-5 zb-form-label">${get_res('detail_change_object','Đối tượng thiết lập')}</label>
                                <div class="col-sm-7">
                                    <input-select ng-model="entity.change_object" data-list="cbbChangeObject" data-value="value" data-caption="caption" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <!--Tên chi tiết-->
                                <label class="col-md-5 zb-form-label">${get_res('detail_object_name','Tên chi tiết')}</label>
                                <div class="col-md-7">
                                    <input-combobox required
                                                    list-code="{{listNamecombobox}}"
                                                    list-value="[{ '@lock': true }]"
                                                    current-item="entity.object_code">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <!--Tổng điểm từ-->
                                <label class="col-sm-5 zb-form-label">${get_res('detail_total_from','Tổng điểm từ')}</label>
                                <div class="col-sm-7">
                                    <input-number ng-model="entity.total_from">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <!--Tổng điểm đến-->
                                <label class="col-sm-5 zb-form-label">${get_res('detail_total_to','Tổng điểm đến')}</label>
                                <div class="col-sm-7">
                                    <input-number ng-model="entity.total_to">
                                </div>
                            </div>
                        </div>
                    </collapse-box>
                </div>
                <div class="col-md-12">
                    <collapse-box class="zb-form-common" title="${get_global_res('note','Ghi chú')}">
                        <div class="row">
                            <!--Ghi chú-->
                            <div class="col-sm-12">
                                <input-textarea rows="5" ng-model="entity.note"></input-textarea>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top: 16px;">
                            <div class="form-group zb-form-group">
                                <label for="DisplayInfo" class="col-sm-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                                <div class="col-sm-9">
                                    <input-text 
                                                value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                    </collapse-box>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="right-content pull-right">
                <div class="pull-right"><button ng-click="save($event)"><i class="la la-save"></i></button></div>
            </div>
        </div>
    </div>
</div>
<script>
    (function (scope) {
        scope.save = save;
        scope.cbbChangeObject = [];
        scope.listNamecombobox = "";
        scope.mode = scope.$parent.__modeDetail;
        scope.entity = scope.mode === 2 ? scope.$parent.$$table.currentItem : null;

        function save() {
            editData(function (res)  {
                    if (res.updatedExisting == true) {
                        $('#dialogInputRankSub').modal('hide');//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        reloadData();
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
            });
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$table.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
            tableConfig.searchText, tableConfig.fnReloadData);
        }

        function editData(callback) {
            debugger
            var url = getUrl();
            var parameter = {};
            services.api(url)
                .data({
                    "rank_code": scope.$parent.entity.rank_code,
                    "details":scope.entity
                })
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function getUrl() {
            return scope.mode === 1 ? "${get_api_key('app_main.api.TMLS_Rank/insert_details')}"
                :"${get_api_key('app_main.api.TMLS_Rank/update_details')}";
        }

        function _selectBoxData() {
            services.api("${get_api_key('app_main.api.TMSYS_ConfigChangeObjectPriority/get_list')}")
            .data({
                "name": "TMChangeObjectRank"
            })
            .done()
                .then(function (res) {
                var rs = [];
                _.each(res, function (val) {
                    rs.push({
                        "value": val.change_object,
                        "caption": val.change_object_name
                    });
                });
                    scope.cbbChangeObject = rs;
                    console.log("scope.cbbChangeObject", scope.cbbChangeObject);
                scope.$applyAsync();
            })
        }
        _selectBoxData();

        scope.$watch("entity.change_object", function (newVal, oldVal) {
            if (newVal && newVal != oldVal) {
                switch (newVal) {
                    case 1: scope.listNamecombobox = "" ; break;
                    case 2: scope.listNamecombobox = "" ; break;
                    case 3: scope.listNamecombobox = "${encryptor.get_key('cbb_position')}" ; break;
                    case 4: scope.listNamecombobox = "${encryptor.get_key('cbb_employee_type')}" ; break;
                    default: scope.listNamecombobox = "";
                };
            }
            scope.$applyAsync();
        });
    })
</script>