<div class="col-md-12">
	<div class="tile">
		<div class="panel panel-default">
	  <div class="panel-heading">
		  <div class="row">
			  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10">
			  <h3>${get_app_res("Select customer")}</h3>
		  </div>
		  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
		  	<select class="form-control" name="" id="" ng-change="doLoadUsers()" ng-model="selectedCode">
						<option ng-repeat="p in listOfCustomers" value="{{p.code}}">{{p.name}}</option>

					</select>
		  </div>
		  </div>

	  </div>
	  <div class="panel-body">
		  <table class="table table-bordered table-hover">
		  	<thead>
		  		<tr>
		  			<th>${get_app_res("Username")}</th>
					<th>${get_app_res("Firstname")}</th>
					<th>${get_app_res("Lastname")}</th>
					<th>${get_app_res("Active")}</th>
					<th>${get_app_res("Super user")}</th>
					<th>${get_app_res("Staff")}</th>
					<td></td>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr ng-repeat="p in data.items">
		  			<td>
						{{p.username}}
					</td>
					<td>
						{{p.first_name}}
					</td>
					<td>
						{{p.last_name}}
					</td>
					<td>
						<input type="checkbox" value="p.is_active">
					</td>
					<td>
						<input type="checkbox" value="p.is_superuser">
					</td>
					<td>
						<input type="checkbox" value="p.is_staff">
					</td>
					<td>
						<button type="button" class="btn btn-primary" ng-click="doSignIn(p)">
							${get_app_res("Sigin as this user")}
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-primary" ng-click="$root.$dialog($id).url(url_user_form).params({username:p.username,customer:selectedCode}).done()">
							${get_app_res("Edit")}
						</button>
					</td>
		  		</tr>
		  	</tbody>
		  </table>

	  </div>
</div>
		<div>

		</div>
	</div>
</div>
<script>
	(function(scope){
		scope.url_user_form='${get_app_url("pages/customers_user")}'
		scope.getListOfCustomers=function(){
				scope.$ws.api('${get_api_key("admin.api.customers/get_items")}').done()
				.then(function(res){
					scope.listOfCustomers=res;
					scope.$applyAsync();
				});
		}
		scope.getListOfCustomers();
		scope.doLoadUsers=function(){
			scope.$ws.api('${get_api_key("admin.api.customers/get_list_of_users_by_customer")}')
			.data({
				customerCode:scope.selectedCode
			})
			.done()
				.then(function(res){
					scope.data=res;
					scope.$applyAsync();
				});
		}
		scope.doSignIn=function(item){
			scope.$ws.api('${get_api_key("admin.api.customers/sigin_as_user")}')
			.data({
				username:item.username,
				code:scope.selectedCode
			})
			.done()
				.then(function(res){
				debugger
					if(res.error){
						scope.$error(res);
						return;
					}
					else {
						window.location.href=res.url;
						return;
					}

				});
		}
		scope.doEdit=function(item){

		}
	});
</script>
