<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <table class="table table-bodered">
                <thead>
                <tr>
                    <th>
                        ${get_global_res("Role code")}
                    </th>
                    <th>
                        ${get_global_res("Role name")}
                    </th>
                    <th>
                        ${get_global_res("Description")}
                    </th>
                    <th>
                        <button class="btn btn-primary" ng-click="$root.$dialog($id).url('pages/roles.edit').done()">
                            ${get_global_res("New")}
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in data.items">
                    <td>
                        {{p.code}}
                    </td>
                    <td>
                        {{p.name}}
                    </td>
                    <td>
                        {{p.description}}
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="$root.$dialog($id).params(p).url('pages/roles.edit').done()">
                            ${get_global_res("Edit")}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
    {{data}}

</div>

    </div>
</div>

<script>
    (function(scope){
        scope.view_path="${get_view_path()}";
        service=ws(scope);
        scope.$root.onSearch(function(txt){
            scope.load_data(txt);
        })
        scope.load_data=function(txt){
            service.api("admin.api.roles/get_list")
            .data({
                search_text:txt
            }).done().then(function(res){
                scope.data=res;
                console.log(res);
                scope.$applyAsync();
            }).catch(function(ex){
                console.log(ex);
            })

        }
        scope.doDelete=function(item){
         console.log(item);
        }
        scope.load_data("");

    });
</script>
