<div>
<div class="form-control ui-select-container ui-select-multiple ui-select-bootstrap dropdown form-control ng-valid ng-not-empty ng-dirty ng-touched" ng-class="{open: $select.open}" ng-model="selectpickerVm.multipleItem.selected" ng-disabled="false" search-enabled="true" append-to-body="true" 
    style="min-height: 30px;
    background:none;
    padding: unset;
    border: none;
    border-bottom: 1px solid #cbcbcb !important;
    width: calc(100% - 25px);
    float: left;
    border-radius: unset !important;
    box-shadow:unset;
    padding-top:5px;">
    <div>
        <span class="ui-select-match ng-scope" placeholder="Multiple Select">
            <span ng-show="currentItem">
                <span class="ui-select-match-item btn btn-default btn-xs" tabindex="-1" 
                      type="button"
                      style="margin-bottom:unset;padding: 0px 5px 0px 5px;">
                    <span class="close ui-select-match-close" 
                          ng-click="removeItem()">&nbsp;×
                    </span>
                    <span>
                        <span class="ng-binding ng-scope">{{item.caption}}</span>
                    </span>
                </span>
            </span>
        </span>
    </div>
</div>
<div style="float:left;">
<button class="btn btn-default" type="button" style="
                    padding: unset;
                    border-radius: unset;
                    height: 30px;
                    width: 25px;
                    border: unset;
                    border-bottom: 1px solid #ccc;
                    background-color:transparent;">
                    <i class="bowtie-icon bowtie-arrow-up-right" style="
                 font-size: 10px;"></i>
                </button>
</div>
</div>