<div class="tile">
    <div class="row">
        <a href="#page=pages/provinces">list_provinces</a>
    </div>
</div>
<script>
    (function(scope){
        scope.view_path="${get_view_path()}"
        scope.$ws=ws(scope)
        console.log(scope.$ws);
        scope.doAddNew=function(){
            dialog(scope).url('${get_app_url("list")}/${model["path"]}').done();
        }
        scope.doEdit=function(item){
            dialog(scope).url('${get_app_url("list")}/${model["path"]}')
            .params(item)
            .done();
        }
        scope.doLoadData=function(){
     //       scope.$ws.api("${get_api_key('admin/api/categories/get_list')}")
     //       .data({
     //           path:'${model["path"]}'
     //       }).done(function(error,res){
     //       	if(!error){
					//scope.data=res;
					//console.log(res);
					//scope.$applyAsync();
     //           }
     //       });
        }
        scope.doLoadData();

    });
</script>