<!--
<script src="${get_static('js/popper.min.js')}"></script>
<script src="${get_static('js/bootstrap.min.js')}"></script>
<script src="${get_static('js/main.js')}"></script>
<script src="${get_static('js/plugins/pace.min.js')}"></script>
<script type="text/javascript" src="${get_static('js/plugins/chart.js')}"></script>
<script type="text/javascript" src="${get_static('js/plugins/chart.js')}"></script>
<script type="text/javascript" src="${get_static('js/promise-6.1.0.js')}"></script>
<script type="text/javascript" src="${get_static('js/ws.js')}"></script>

-->