<aside class="app-sidebar"  style="width:auto !important">
  <%
      import json

  %>


      <ul class="app-menu">
        %for item in model["menu_items"]:
          <li class="treeview">
          <a class="app-menu__item" href="#" data-toggle="treeview">
            <i class="app-menu__icon fa fa-th-list"></i>
            <span class="app-menu__label">${item["caption"]}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i class="treeview-indicator fa fa-angle-right"></i>
          </a>
          <ul class="treeview-menu">
            %for sub_item in item["items"]:
              <li>
                <a class="treeview-item" href="#page=${sub_item['page']}">
                <i class="icon fa fa-circle-o"></i>
                  ${sub_item["caption"]}
                </a>
              </li>
            %endfor
          </ul>
        </li>
        %endfor
      </ul>
    </aside>