<div class="hcs-container" style="height: 100%">
    <page-sidebar on-add="onAdd" 
                  on-edit="onEdit" 
                  on-delete="onDelete" 
                  on-save="onSave" 
                  on-import="onImport" 
                  on-export="onExport"
                  on-search-press="onSearch"
                  source="mapName" 
                  key-field="function_id" 
                  display-field="default_name" 
                  icon-field="icon" 
                  selected-key="selectedFunction"
                  reload-on-change="true">
        <site-map>
            <a><span>{{$root.currentFunction.default_name}}</span></a>
            <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
            <span>{{currentFunction.default_name}}</span></site-map>
        <!--on-search-change="onSearch"-->
        <!--<advanced-search>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Age" />
        </advanced-search>-->
        <content>
            <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </content>
    </page-sidebar>
</div>
<script>
    <%include file="../scripts/permission.js"/>
</script>
