<div class="hcs-container">
    <div class="row" style="margin:unset;">
        <hcs-breadcumb data="mapName" selected-url="$partialpage" function="currentFunction"></hcs-breadcumb>
        <div class="col-md-12" id="hcs-admin-system-container">
            <hcs-left-menu data="mapName" avatar="false"></hcs-left-menu>
            <div class="hcs-system-admin-content">
                <div class="tab-content col-md-12" id="hcs-admin-system-panel-content">
                   <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" style="position: absolute; height: 100%; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    (function (scope) {
        /*                                                         */
        /* ==================== Property Scope - START=============*/
        /*                                                         */
        scope.filterFunctionModel = ''
        scope.currentFunction = '';
        scope.mapName = [];
        /*                                                         */
        /* ==================== Property Scope - END ==============*/
        /*                                                         */

        /*                                                         */
        /* ==================== Initialize - START=================*/
        /*                                                         */
        activate();
        init();
        /*                                                         */
        /* ==================== Initialize - END ==================*/
        /*                                                         */

        /*                                                                                          */
        /* ===============================  Implementation - START  ================================*/
        /*                                                                                          */

        /* Object handle data */
        function handleData() {

            this.collection = {};

            this.mapName = [];

            this.mapName = [
                { 'function_id': 'function1', 'name': 'Thông tin chung', 'url': 'department/form/common' },
                { 'function_id': 'function2', 'name': 'Chức năng', 'url': 'department/form/function' },
                { 'function_id': 'function3', 'name': 'Nhiệm vụ', 'url': 'department/form/question' },
                { 'function_id': 'function4', 'name': 'Lương - thưởng', 'url': 'department/form/salary' },
                { 'function_id': 'function5', 'name': 'Thông tin kinh doanh', 'url': 'department/form/' },
                { 'function_id': 'function6', 'name': 'Đăng ký mẫu dấu', 'url': 'department/form/' },
                { 'function_id': 'function7', 'name': 'Hội đồng quản trị', 'url': 'department/form/' },
                { 'function_id': 'function8', 'name': 'Ban kiểm soát', 'url': 'department/form/' },
                { 'function_id': 'function9', 'name': 'Theo dõi thay đỗi', 'url': 'department/form/' }
            ];

            this.getElementMapNameByIndex = (index) => {
                return mapName[index];
            }
        };

        /* Initialize Data */
        function activate() {

        }

        function init() {
            scope.handleData = new handleData();
            scope.mapName = scope.handleData.mapName;
            scope.currentFunction = scope.mapName[0];
        }

        /*                                                                                          */
        /* ===============================  Implementation - END  ==================================*/
        /*                                                                                          */


    });
</script>
