<%page cached="True"/>
<html ng-app="app">
<head>
    <script src="${get_static('js/jquery-3.3.1.min.js')}"></script>
    <link href="${get_static('bs/css/bootstrap.min.css')}" rel="stylesheet">
    <link href="${get_static('bs/css/bootstrap-theme.min.css')}" rel="stylesheet">
    <script src="${get_static('bs/js/bootstrap.min.js')}"></script>
    <script src="${get_static('js/angular.min.js')}"></script>
    <script src="${get_static('js/ngDirectives.js')}"></script>
    <script src="${get_static('js/promise-6.1.0.js')}"></script>
    <script src="${get_static('js/ws.js')}"></script>
    <link href="${get_static('css/site.css')}" rel="stylesheet">
    <style>
        *{
        font-size:8pt !important

        }

    </style>

</head>
    <body ng-controller="app">
        <div class="header">
            <%block name="header"/>
        </div>

        ${self.body()}

        <div class="footer">
            <%block name="footer">

            </%block>
        </div>
    </body>
</html>