<%inherit file="base.html"/>
<%include file="navbar.html"/>
<style>
    .modal-dialog .form-control {
        margin:2px;

    }
    .modal-dialog .field-label{

    }
</style>
<div class="container">
<div c-template url="${get_app_url('')}/{{$root.page}}">

</div>
</div>

<script>
var app=angular.module("app",["c-ui"])
app.controller("app",["$compile","$scope",function($compile,scope){
    scope.$root.$compile=$compile;
    ws_set_url("${get_app_url('api')}")
    ws_onBeforeCall(function(){
        mask=$("<div class='mask'></div>")
        mask.appendTo("body");
        return mask
    });
    ws_onAfterCall(function(mask){
        mask.remove();
    })
    history_navigator(scope.$root)
    scope.$root.$dialog=dialog
    console.log(scope.$root);
    scope.$root.$history.change(function(data){
        scope.$root.page=data.page;
        scope.$root.$applyAsync();

    });

}]);
</script>
