<div title="Edit" class="container-fluid">
    <div class="form-group">
            <div class="row">


                    <div class="col-md-2">

                            <span>
                                Mã
                            </span>

                    </div>


                    <div class="col-md-4">

                            <input type="text" class="form-control input-sm" ng-model="data.Code">

                    </div>


                    <div class="col-md-2">

                            <span>
                                Tên
                            </span>

                    </div>


                    <div class="col-md-4">

                            <input type="text" class="form-control input-sm" ng-model="data.Name">

                    </div>



            </div>
            <div class="row">


                    <div class="col-md-2">

                            <span>
                                Postal code
                            </span>

                    </div>


                    <div class="col-md-10">

                            <input type="text" class="form-control input-sm" ng-model="data.PostalCode">

                    </div>



            </div>
            <div class="row">


                    <div class="col-md-2">

                            <span>
                                Description
                            </span>

                    </div>


                    <div class="col-md-10">

                            <textarea class="form-control input-small" ng-model="data.Ghi chú">

                            </textarea>

                    </div>



            </div>
    </div>
    <div class="form-group">
        <div class="btn-toolbar pull-right" role="toolbar">
        <div class="btn-group">
        <button type="button" class="btn btn-default">
            Cập nhật
        </button>
        <button type="button" class="btn btn-default">
            Thêm
        </button>
        <button type="button" class="btn btn-default" ng-click="$doClose()">
            Đóng
        </button>

    </div>
    </div>
    </div>
    <script>
    (function(scope){
        alert("OK");
    });
</script>
</div>
