<%inherit file="base.html"/>
<style type="text/css">
	body {
		color: #fff;
		background: #3598dc;
	}
	.form-control {
		min-height: 41px;
		background: #f2f2f2;
		box-shadow: none !important;
		border: transparent;
	}
	.form-control:focus {
		background: #e2e2e2;
	}
	.form-control, .btn {
        border-radius: 2px;
    }
	.login-form {
		width: 350px;
		margin: 30px auto;
		text-align: center;
	}
	.login-form h2 {
        margin: 10px 0 25px;
    }
    .login-form form {
		color: #7a7a7a;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form .btn {
        font-size: 16px;
        font-weight: bold;
		background: #3598dc;
		border: none;
        outline: none !important;
    }
	.login-form .btn:hover, .login-form .btn:focus {
		background: #2389cd;
	}
	.login-form a {
		color: #fff;
		text-decoration: underline;
	}
	.login-form a:hover {
		text-decoration: none;
	}
	.login-form form a {
		color: #7a7a7a;
		text-decoration: none;
	}
	.login-form form a:hover {
		text-decoration: underline;
	}
</style>
<div class="login-form">
    <form action="./login?next=${model['next']}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="${get_csrftoken()}"/>
        <h2 class="text-center">Login</h2>
        <div class="form-group has-error">
        	<input type="text" class="form-control" name="username" placeholder="${model['username']}" required="required" value="${model['username']}">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="${model['password']}" required="required" value="${model['password']}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">${get_global_res("Sign in")}</button>
        </div>

    </form>
    % if model.get("error","")!="":
        <div class="alert alert-warning" role="alert">
            <strong>${get_global_res("Error !")}</strong>
            ${model["error"]["message"]}
        </div>
    %endif

</div>
