
<%!
    #_style="width:300px;"
%>
<%inherit file="../../commons/dialog_save_close.html"/>

<%block name="modal_body">
            <div class="col-md-{{col_group}} col-sm-{{col_group}}" style="padding-bottom:20px;">
                <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Mã xếp loại-->
                            <label class="col-sm-5 zb-form-label">${get_res('rank_code','Mã xếp loại')}</label>
                            <div class="col-sm-7">
                                <input-text ng-model="entity.rank_code" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên xếp loại-->
                            <label class="col-sm-5 zb-form-label">${get_res('rank_name','Tên xếp loại')}</label>
                            <div class="col-sm-7">
                                <input-text ng-model="entity.rank_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên khác-->
                            <label class="col-sm-5 zb-form-label">${get_res('rank_name2','Tên khác')}</label>
                            <div class="col-sm-7">
                                <input-text ng-model="entity.rank_name2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tổng điểm từ-->
                            <label class="col-sm-5 zb-form-label">${get_res('total_from','Tổng điểm từ')}</label>
                            <div class="col-sm-7">
                                <input-number ng-model="entity.total_from">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tổng điểm đến-->
                            <label class="col-sm-5 zb-form-label">${get_res('total_to','Tổng điểm đến')}</label>
                            <div class="col-sm-7">
                                <input-number ng-model="entity.total_to">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Thứ tự-->
                            <label class="col-sm-5 zb-form-label">${get_res('ordinal','Thứ tự')}</label>
                            <div class="col-sm-7">
                                <input-number ng-model="entity.ordinal">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Thiết lập riêng-->
                            <label class="col-sm-5 zb-form-label">${get_res('is_change_object','Thiết lập riêng')}</label>
                            <div class="col-sm-7">
                                <input-checkbox ng-model="entity.is_change_object" ng-disabled="__mode == 2 || __mode == 3">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Ngưng sử dụng-->
                            <label class="col-sm-5 zb-form-label">${get_res('lock','Ngưng sử dụng')}</label>
                            <div class="col-sm-7">
                                <input-checkbox ng-model="entity.lock">
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
            <div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}" style="padding-bottom:20px;">
                <collapse-box class="zb-form-common" title="${get_global_res('general_assessment','Đánh giá chung')}">
                    <div class="row">
                        <!--Đánh giá chung-->
                        <div class="col-sm-12">
                            <input-textarea rows="7" ng-model="entity.rank_content"></input-textarea>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 16px;">
                        <div class="form-group zb-form-group">
                            <label for="DisplayInfo" class="col-sm-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                            <div class="col-sm-9">
                                <input-text 
                                            value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
            <div class="col-md-12" ng-show="(__mode === 2 || __mode === 3) && entity.is_change_object === true">
                <collapse-box class="zb-form-common" title="${get_res('is_change_object','Thiết lập riêng')}">
                        <toolbar>
                                <input-text-icon icon="bowtie-icon bowtie-search"
                                                 on-click="onSearch"></input-text-icon>
                                <button ng-click="addNewRankSub()" class="zb-btn zb-btn-o-green">
                                    <i class="bowtie-icon bowtie-math-plus"></i>
                                </button>
                                <button  class="zb-btn zb-btn-o-blue">
                                    <i class="bowtie-icon bowtie-edit-outline"></i>
                                </button>
                                <button ng-click="removeRankSub()" class="zb-btn zb-btn-o-red">
                                    <i class="bowtie-icon bowtie-trash"></i>
                                </button>
                                <button ng-click="refreshRankSub()" class="zb-btn">
                                    <i class="bowtie-icon bowtie-navigate-refresh"></i>
                                </button>
                            </toolbar>
                        <div class="col-md-12 no-padding" style="height:280px;">
                            <table-data data-source="$$table.tableSource" fields="$$table.tableFields" type="MultiSelect" 
                                        paging="true" page-length="100" server-side="true" 
                                        press-enter="$$table.onSelectTableRow" selected-items="$$table.selectedItems" 
                                        current-item="$$table.currentItem" search-text="$$table.tableSearchText"
                                        refresh-row="$$table.refreshDataRow"
                                        selected-field="">
                            </table-data>
                        </div>
                </collapse-box>
            </div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        scope.$$table = {
            "tableSource": _loadDataServerSide,
            "tableFields" : [
                { "data": "object_code", "title": "${get_res('rank_code_table_header','Đối tượng')}" },
                { "data": "object_name", "title": "${get_res('rank_name_table_header','Tên chi tiết')}" },
                { "data": "total_from", "title": "${get_res('rank_content_table_header','Tổng điểm từ')}" },
                { "data": "total_to", "title": "${get_res('total_from_table_header','Tổng điểm đến')}" }
            ],
            "onSelectTableRow": pressEnter,
            "selectedItems": [],
            "currentItem": {},
            "tableSearchText": "",
            "refreshDataRow": function () { /*Do nothing*/ },
            "$$tableConfig": {}
        }

        scope._tableData = _tableData;
        scope.__mode = scope.$parent.mode;
        scope.__modeDetail = 0;
        scope.onResizeDialog = onResizeDialog;
        scope.col = 12;
        scope.col_group = 6;
        scope.title = scope.$parent.headerTitle;
        var __entity = JSON.parse(JSON.stringify(scope.$parent.currentItem));
        //Mode 1: tạo mới, Mode 2: chỉnh sửa, Mode 3: sao chép
        scope.entity = scope.__mode == 2 ? __entity : null;

        //Combobox Datasource
        scope.cbbContinents = scope.$parent.cbbContinents;

        //Nút lưu và thêm
        scope.saveNNext = saveNNext;

        //Nút lưu
        scope.saveNClose = saveNClose;

        scope.addNewRankSub = addNewRankSub;
        scope.removeRankSub = removeRankSub;
        scope.refreshRankSub = refreshRankSub;
        $(window).trigger('resize');

        /**
         * Thay đỗi kích thước form Dialog và các control trên form dialog
         */
        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }

        function pressEnter($row) {
            scope.__modeDetail = 2;
            openDialog("${get_res('Config_Detail','Chi tiết thiết lập')}", 'rankcategory/form/dialog/addPersonal/addDetail', function () { }, "dialogInputRankSub");
        }

        function _loadDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText) {
            scope.$$table.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText
            };
            //setTimeout(function () {
            if (fnReloadData) {
                if (searchText) {
                    _tableData(iPage, iPageLength, orderBy, searchText, function (data) {
                        fnReloadData(data);
                    });
                } else {
                    _tableData(iPage, iPageLength, orderBy, null, function (data) {
                        fnReloadData(data);
                    });
                }
            }
            //}, 1000);
        };

        function _tableData(iPage, iPageLength, orderBy, searchText, callback) {
            var sort = {};
            $.each(orderBy, function (i, v) {
                sort[v.columns] = (v.type === "asc") ? 1 : -1;
            });
            sort[orderBy[0].columns] =
                services.api("${get_api_key('app_main.api.TMLS_Rank/get_list_details_with_searchtext')}")
                    .data({
                        //parameter at here
                        "pageIndex": iPage - 1,
                        "pageSize": iPageLength,
                        "search": searchText,
                        "sort": sort,
                        "rank_code": scope.entity.rank_code
                    })
                    .done()
                    .then(function (res) {
                        var data = {
                            recordsTotal: res.total_items,
                            recordsFiltered: res.total_items,
                            data: res.items
                        };
                        callback(data);
                        scope.$$table.currentItem = null;
                        scope.$applyAsync();
                        $(window).trigger('resize');
                    })
        }

        function saveNClose() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            }
        }

        function addNewRankSub() {
            scope.__modeDetail = 1;
            openDialog("${get_res('Config_Detail','Chi tiết thiết lập')}", 'rankcategory/form/dialog/addPersonal/addDetail', function () { }, "dialogInputRankSub");
        }

        function removeRankSub() {
            if (!scope.$$table.selectedItems || scope.$$table.selectedItems.length === 0) {
                $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    services.api("${get_api_key('app_main.api.TMLS_Rank/delete_detail')}")
                        .data({
                            "rank_code":scope.entity.rank_code,
                            "rec_id": _.pluck(scope.$$table.selectedItems, 'rec_id')
                        })
                        .done()
                        .then(function (res) {
                            if (res.updatedExisting ==  true) {
                                _tableData(scope.$$table.$$tableConfig.iPage, scope.$$table.$$tableConfig.iPageLength, scope.$$table.$$tableConfig.orderBy, scope.$$table.$$tableConfig.SearchText, scope.$$table.$$tableConfig.fnReloadData);
                                $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                                scope.$$table.currentItem = null;
                                scope.$$table.selectedItems = [];
                            }
                        })
                });
            }
        }

        function refreshRankSub() {
            _tableData(scope.$$table.$$tableConfig.iPage, scope.$$table.$$tableConfig.iPageLength, scope.$$table.$$tableConfig.orderBy, scope.$$table.$$tableConfig.SearchText, scope.$$table.$$tableConfig.fnReloadData);
        }

        function editData(callback) {
            var url = getUrl();
            if (scope.__mode == 3) {

            }
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {

        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.TMLS_Rank/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.TMLS_Rank/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
            tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Hàm mở dialog
         * @param {string} title Tittle của dialog
         * @param {string} path Đường dẫn file template
         * @param {function} callback Xử lí sau khi gọi dialog
         * @param {string} id Id của form dialog, default = 'myModal'
         */
        function openDialog(title, path, callback, id = 'myModal') {

            //check tồn tại của form dialog theo id
            if ($('#' + id).length === 0) {
                scope.headerTitle = title;
                //Đặt ID cho form dialog
                dialog(scope, id).url(path).done(function () {
                    callback();
                    //Set draggable cho form dialog
                    $dialog.draggable();
                });
            }
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.rank_code);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('nation_code_is_not_null','Mã xếp loại không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.rank_name);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('nation_name_is_not_null','Tên xếp loại không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            return rs;
        }

    });
</script>
</%block>