<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="left-content pull-left">
                <!--<img src="{{$root.logo}}">-->
                <span class="modal-title">{{title}}</span>
            </div>
            <div class="right-content pull-right">
                <button type="button" class="close" data-dismiss="modal"><i class="la la-close"></i></button>
                <button type="button" class="close" ng-click="onResizeDialog()"><span class="modal-resize"><i class="la la-expand"></i></span></button>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-md-{{col_group}} col-sm-{{col_group}}">
                    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Mã vùng dữ liệu-->
                                <label for="inputCodeDomain" class="col-sm-5 zb-form-label">${get_res('dd_code','Mã vùng dữ liệu')}</label>
                                <div class="col-sm-7">
                                    <input-text id="inputCodeDomain" ng-model="Item.dd_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Tên vùng dữ liệu-->
                                <label for="inputDomainName" class="col-sm-5 zb-form-label">${get_res('dd_name','Tên vùng dữ liệu')}</label>
                                <div class="col-sm-7">
                                    <input-text id="inputDomainName" ng-model="Item.dd_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-{{col}}">
                            <div class="form-group zb-form-group">
                                <!--Phạm vi truy cập-->
                                <label for="inputAccessLimit" class="col-sm-5 zb-form-label">${get_res('access_mode','Chế độ truy cập')}</label>
                                <div class="col-sm-7" ng-disabled="true">
                                    <input-select data-list="cbbAccessMode" ng-model="Item.access_mode"
                                                  placeholder="Tìm kiếm" 
                                                  data-value="value" 
                                                  data-caption="caption"
                                                  required/>
                                </div>
                            </div>
                        </div>
                    </collapse-box>
                </div>
            <div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
                <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
                    <div class="row">
                        <div class="col-sm-12">
                        <input-textarea rows="5" ng-model="Item.description"></input-textarea>
                        <!--<div data-c-html-box 
                            ng-model="Item.description"
                            style="height:49px"
                            id="inputDescription">
                        </div>-->
                    </div>
                    </div>
                </collapse-box>
                </div>
            <div class="col-md-12 col-sm-12">
                <collapse-box class="zb-form-common" title="${get_res('Select_Domain','Chọn vùng dữ liệu')}">
                    <div class="col-md-12 no-padding">
                        <div>
                            <button class="zb-btn" ng-click="$treeCollapseAll()">
                                <i class="bowtie-icon bowtie-chevron-up-all"></i>
                            </button>
                            <button class="zb-btn" ng-click="$treeExpandAll()">
                                <i class="bowtie-icon bowtie-chevron-down-all"></i>
                            </button>
                            <input-text-icon icon="bowtie-icon bowtie-search" icon-align="right" 
                                             style="width:calc(100% - 68px);float: right" 
                                             placeholder="" ng-model="treeSearchText">
                            </input-text-icon>
                        </div>
                        <!--Chọn vùng dữ liệu-->
                        <div class="col-md-12 no-padding">
                            <tree-data data-source="treeDepartmentsDataSource" display-field="department_name"
	                                    parent-field="parent_code" key-field="department_code" 
	                                    multi-select="treeMultiSelect" select-mode="treeMode" 
                                        on-select="selectTreeNode"
	                                    current-node="treeCurrentNode"
	                                    selected-nodes="treeSelectedNodes"
	                                    selected-root-nodes="treeSelectedRootNodes"
	                                    search-text="treeSearchText"
	                                    check-all="treeCheckAll"
                                        checked-field="is_selected"
                                        disabled="treeDisable"
                                        expand-all="$treeExpandAll"
                                        collapse-all="$treeCollapseAll"/>
                        </div>
                    </div>
                </collapse-box>
                </div>
        </div>
        <div class="modal-footer">
            <div class="right-content pull-right">
                <button ng-click="saveNNext($event)"><i class="la la-save"></i>${get_global_res('save_and_next','Lưu & tiếp')}</button>
                <button ng-click="saveNClose($event)"><i class="la la-save"></i>${get_global_res('save_and_close','Lưu & đóng')}</button>
            </div>
        </div>
    </div>
</div>
<script>
    (function (scope) {
        var __object = {
            "_id": null,
            "dd_code": "",
            "dd_name": "",
            "access_mode": 2, //Default value
            "description": "",
            "created_on": new Date(),
            "created_by": "",
            "modified_on": null,
            "modified_by": null,
            "detail": []
        };
        scope.__mode = scope.$parent.mode;
        scope.result = false;
        scope.onResizeDialog = onResizeDialog;
        scope.col = 12;
        scope.col_group = 6;
        scope.title = scope.$parent.headerTitle;
        //Mode 1: tạo mới, Mode 2: chỉnh sửa, Mode 3: sao chép
        __object = scope.__mode == 2 || scope.__mode == 3 ? scope.$parent.currentItem : __object;
        scope.Item = JSON.parse(JSON.stringify(__object));

        //Combobox Datasource
        scope.cbbAccessMode = scope.$parent.mapAccess_mode;

        scope.saveNClose = saveNClose;
        scope.saveNNext = saveNNext;

        //Tree
        scope.treeCurrentNode = {};
        scope.treeSelectedNodes = [];
        scope.treeSelectedRootNodes = [];
        scope.treeCheckAll = false;
        scope.treeSearchText = '';
        scope.treeDisable = false;
        scope.treeMultiSelect = true;
        scope.treeMode = 3; // Value in (1, 3) combobox toàn quyền set 1 ngược lại set 3
        var _treeDepartmentsDataSource = null;
        var _treeDefault = null;


        /**
         * Thay đỗi kích thước form Dialog và các control trên form dialog
         */
        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }

        function saveNClose() {
            if (scope.Item != null) {
                var rsCheck = checkError();//Kết quả check input
                if (!rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            //Nếu sửa item combo thì cập nhật lại tên vùng truy cập cho dòng dữ liệu
                            scope.Item.display_access_mode = scope.$parent.getDisplayNameAccessMode(scope.Item.access_mode);
                            scope.$parent.currentItem = scope.Item;
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
            if (scope.Item != null) {
                var rsCheck = checkError();//Kết quả check input
                if (!rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            var item = JSON.parse(JSON.stringify(scope.Item));
                            scope.Item.display_access_mode = scope.$parent.getDisplayNameAccessMode(scope.Item.access_mode);
                            scope.$parent.currentItem = item;
                            scope.$parent.$apply();
                            scope.$parent.refreshDataRow();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.Item = null;
                        scope.__mode = 1;
                        //Bỏ chọn các nút đã chọn trên cây
                        unSelectedNode();
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            }
        }

        function editData(callback) {
            var url = getUrl();
            var currentItem = JSON.parse(JSON.stringify(scope.Item));
            if (scope.__mode == 3) {
                //Loại bỏ các propery của angular ra khỏi object
                delete currentItem.$$regKey;
                delete currentItem._id;
                delete currentItem.$$selectKey;
            }
            services.api(url)
                .data(currentItem)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {
            if (scope.__mode == 1)
                delete scope.Item._id;
            //Check null, nếu null set default
            if (!scope.Item.hasOwnProperty('access_mode'))
                scope.Item.access_mode = 2;
            else {
                switch (scope.Item.access_mode) {
                    //Toàn quyền
                    //case 1: scope.Item.detail = []; break;
                    //Từ vùng được chọn đến các tập con
                    case 2: scope.Item.detail = JSON.parse(JSON.stringify(scope.treeSelectedRootNodes)); break;
                    //Chỉ trên các vùng được chọn
                    case 3: scope.Item.detail = JSON.parse(JSON.stringify(scope.treeSelectedNodes)); break;
                    default: 
                        scope.Item.detail = []; break;
                }
                scope.$applyAsync();
            }
            if (!scope.Item.hasOwnProperty('detail'))
                scope.Item.detail = null;
            if (scope.Item.hasOwnProperty('display_access_mode'))
                delete scope.Item.display_access_mode;
        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.HCSSYS_DataDomain/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.HCSSYS_DataDomain/update')}" /*Mode 2: Cập nhật*/
        }

        function setSelectedNodeWhenEdit() {
            if (scope.__mode == 2 || scope.__mode == 3) {
                if (scope.Item.detail && scope.Item.detail.length > 0) {
                    $.each(scope.Item.detail, function (i, v) {
                        var _f = _.filter(_treeDepartmentsDataSource, function (f) {
                            return f.department_code == v.department_code;
                        });

                        if (_f.length > 0) {
                            _f[0]["is_selected"] = true;
                        }
                    });
                }
            }
            scope.treeDepartmentsDataSource = _treeDepartmentsDataSource;
            scope.$apply();
        }

        function unSelectedNode() {
            scope.treeDepartmentsDataSource = null;
            scope.$apply();
            scope.treeDepartmentsDataSource = _treeDefault;
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
            tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var rs = {
                "result": true,
                "errorMsg": ''
            };
            if (!scope.Item.dd_code) {
                rs.result = false;
                rs.errorMsg += "${get_res('Domain_Code_Empty','Mã vùng dữ liệu không được để trống')}" + '\n';
            }
            if (!scope.Item.dd_name) {
                rs.result = false;
                rs.errorMsg += "${get_res('Domain_Name_Empty','Tên vùng dữ liệu không được để trống')}" + '\n';
            }
            return rs;
        }
    
        //Get data department
        _departments();
        function _departments() {
            services.api("${get_api_key('app_main.api.HCSSYS_Departments/get_list')}")
                .data()
                .done()
                .then(function (res) {
                    _treeDepartmentsDataSource = res;
                    //Tạo biến local dùng để lưu cây trạng thái chưa được chọn
                    _treeDefault = JSON.parse(JSON.stringify(res));
                    setSelectedNodeWhenEdit();
                })
        }

        scope.$watch("Item.access_mode", function (val, old) {
            //1. toàn quyền bỏ check và readonly cây
            scope.treeMultiSelect = true;
            if (val === 1) {
                scope.treeDepartmentsDataSource = _treeDefault;
                scope.treeDisable = true;
                scope.treeMode = 1;
                scope.treeMultiSelect = false;
            } else if (val === 2) {
                scope.treeDisable = false;
                scope.treeMode = 3;
            } else if (val === 3) {
                scope.treeDisable = false;
                scope.treeMode = 2;
            }
        });
    });
</script>