<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="left-content pull-left">
                <span class="modal-title">{{title}}</span>
            </div>
            <div class="right-content pull-right">
                <button type="button" class="close" data-dismiss="modal"><i class="la la-close"></i></button>
                <button type="button" class="close" ng-click="onResizeDialog()"><span class="modal-resize"><i class="la la-expand"></i></span></button>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-md-{{col_group}} col-sm-{{col_group}}">
                <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Mã nhóm người dùng-->
                            <label for="inputUserName" class="col-sm-5 zb-form-label">${get_res('role_code','Mã nhóm người dùng')}</label>
                            <div class="col-sm-7">
                                <input-text id="inputUserName" ng-model="entity.role_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên nhóm người dùng-->
                            <label for="inputDisplayName" class="col-sm-5 zb-form-label">${get_res('role_name','Tên nhóm người dùng')}</label>
                            <div class="col-sm-7">
                                <input-text id="inputDisplayName" ng-model="entity.role_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Vùng dữ liệu truy cập-->
                            <label for="inputGroupUser" class="col-sm-5 zb-form-label">${get_res('dd_code','Vùng dữ liệu truy cập')}</label>
                            <div class="col-sm-7">
                                <input-combobox id="inputEmployeeId" required
                                    api-url="${get_api_key('app_main.api.common/get_dropdown_list')}"
                                    list-code="${encryptor.get_key('cbb_ad_roles')}"
                                    list-value="[{ '@dd_code': '' }]"
                                    current-item="entity.dd_code"
                                    multi-select="false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Ngưng sử dụng-->
                            <label for="inputGroupUser" class="col-sm-5 zb-form-label">${get_res('stop','Ngưng sử dụng')}</label>
                            <div class="col-md-7">
                                <input-checkbox ng-model="entity.stop"/>
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
            <div class="col-md-{{ 12 - col_group }} col-sm-{{ 12 - col_group }}">
                <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Ghi chú-->
                            <input-textarea rows="6" ng-model="entity.description"></input-textarea>
                        </div>
                    </div>
                </collapse-box>
            </div>
            <div class="col-md-12">
                <nav-tabs min-height="300px" max-height="300px" ng-show="__mode != 1">
                    <tab-content name="tab1" title="${get_res('list_user','Danh sách người dùng')}">
                        <div class="pull-right hcs-profile-icon-heading-on-table">
                            <button class="zb-icon-button hcs-profile-group-title" ng-click="deleteUser()">
                                <span>
                                    <i class="la la-close"></i>
                                </span>
                            </button>
                        </div>
                        <div class="pull-right hcs-profile-icon-heading-on-table">
                            <button class="zb-icon-button hcs-profile-group-title">
                                <span>
                                    <i class="la la-copy"></i>
                                </span>
                            </button>
                        </div>
                        <div class="pull-right hcs-profile-icon-heading-on-table">
                            <button class="zb-icon-button hcs-profile-group-title" ng-click="addNewUser()">
                                <span>
                                    <i class="la la-plus"></i>
                                </span>
                            </button>
                        </div>
                        <div class="col-md-12" style="height: 300px;">
                            <!--Table user-->
                            <table-data data-source="tableListUserSource" fields="tableListUserFields" type="MultiSelect" 
                            paging="true" page-length="100" server-side="true" 
                            press-enter="onSelectTableRow" selected-items="selectedListUserItems"
                            current-item="ListUserCurrentItem" search-text="tableSearchText"
                            refresh-row="refreshDataListUserRow"
                            ng-show="__mode != 1">
                            </table-data>
                        </div>
                    </tab-content>
                    <tab-content name="tab2" title="${get_res('function_list','Danh sách tính năng')}">
                        <div class="pull-right hcs-profile-icon-heading-on-table">
                            <button class="zb-icon-button hcs-profile-group-title" ng-click="deletePermission()">
                                <span>
                                    <i class="la la-close"></i>
                                </span>
                            </button>
                        </div>
                        <div class="pull-right hcs-profile-icon-heading-on-table">
                            <button class="zb-icon-button hcs-profile-group-title" ng-click="EditPermission()">
                                <span>
                                    <i class="la la-pencil"></i>
                                </span>
                            </button>
                        </div>
                        <div class="col-md-12">
                            <tree-table data-source="dataTableTree" data-fields="tableFields"
                                display-field="default_name"
                                display-name="Tên tính năng"
                                parent-field="parent_id" key-field="function_id" 
                                multi-select="treeMultiSelect" select-mode="treeSelectMode"
                                on-select="selectTreeNode"
                                current-node="treeCurrentNode"
                                selected-nodes="treeSelectedNodes"
                                selected-root-nodes="treeSelectedRootNodes"
                                search-text="treeSearchText"
                                checked-field="is_selected"
                                disabled="treeDisabled"/>
                        </div>
                    </tab-content>
                </nav-tabs>
            </div>
        </div>
        <div class="modal-footer">
            <div class="right-content pull-right">
                <button ng-click="saveNClose($event)"><i class="la la-save"></i>${get_global_res('save_and_close','Lưu & đóng')}</button>
                <button ng-click="saveNNext($event)"><i class="la la-save"></i>${get_global_res('save_and_next','Lưu & tiếp')}</button>
            </div>
        </div>
    </div>
</div>
<script>
    (function (scope) {
        //Table danh sách người dùng - START
        scope.tableListUserFields = [
            { "data": "login_account", "title": "${ get_res('table_user_login_account_table_header', 'Mã người dùng') }"},
            { "data": "display_name", "title": "${ get_res('table_user_display_name_table_header', 'Tên hiển thị') }"},
            { "data": "manlevel_from", "title": "${ get_res('table_user_manlevel_from_table_header', 'Mức quản lí từ') }"},
            { "data": "manlevel_to", "title": "${ get_res('table_user_manlevel_to_table_header', 'Mức quản lí đến') }"},
            {
                "data": "created_on",
                "title": "${ get_res('table_user_created_on_table_title', 'Thời điểm tạo') }",
                "format": "date: " + scope.$root.systemConfig.date_format
            }
        ];
        scope.tableListUserSource = _loadDataListUserServerSide;
        scope.refreshDataListUserRow = function () { /*Do nothing*/ };
        scope.selectedListUserItems = [];
        scope.ListUserCurrentItem = null;
        scope.onSelectTableRow = pressEnter;
        function _loadDataListUserServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText) {
            scope.$$table_List_User_Config = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText
            };
            //setTimeout(function () {
            if (fnReloadData) {
                if (searchText) {
                    _tableData("${get_api_key('app_main.api.auth_user/get_list_with_searchtext')}",iPage, iPageLength, orderBy, searchText, function (data) {
                        fnReloadData(data);
                        scope.entity.users = data.data;
                    });
                } else {
                    _tableData("${get_api_key('app_main.api.auth_user/get_list_with_searchtext')}",iPage, iPageLength, orderBy, null, function (data) {
                        fnReloadData(data);
                    });
                }
            }
            //}, 1000);
        };

        function pressEnter($row) {
        
        }

        //Table danh sách người dùng - END


        //Table danh sách chức năng - START

        scope.dataTableTree = [];
        scope.tableFields = [
            //{ "data": "function_name", "title": "Tên tính năng", width: "200px" },
            { "data": "read", "title": "Xem", width: "50px",format: "checkbox" },
            { "data": "create", "title": "Thêm", width: "150px",format: "checkbox" },
            { "data": "write", "title": "Sửa", className: "text-left",format: "checkbox" },
            { "data": "delete", "title": "Xóa", format: "checkbox", className: 'text-center'},
            { "data": "import", "title": "N. Khẩu", format: "checkbox"},
            { "data": "export", "title": "X. Khẩu", width: "150px",format: "checkbox" },
            { "data": "copy", "title": "Sao chép", className: "text-left",format: "checkbox" },
            { "data": "attach", "title": "Đính kèm", format: "checkbox", className: 'text-center'},
            { "data": "download", "title": "Tải file",format: "checkbox" }
        ];

        scope.selectTreeNode = function(node) {
            
        }
        scope.treeCurrentNode = {};
        scope.treeSelectedNodes = [];
        scope.treeSelectedRootNodes = [];
        scope.treeMultiSelect = true;
        scope.treeSelectMode = 2;
        scope.treeDisabled = false;


        scope._permissionList = _permissionList;
        function _permissionList() {
            if (scope.__mode == 2) {
                services.api("${get_api_key('app_main.api.AD_Roles/get_list_permission_by_role')}")
                    .data({
                        "role_code":scope.entity.role_code
                    })
                    .done()
                    .then(function (res) {
                        scope.dataTableTree = res;
                        scope.$applyAsync();
                    })
            }
        }

        //Table danh sách chức năng - END


        //Hàm load data table - START

         /**
         * Hàm load data cho table
         * @param {string} url
         * @param {number} iPage
         * @param {number} iPageLength
         * @param {any} orderBy
         * @param {string} searchText
         * @param {void} callback
         */
        function _tableData(url, iPage, iPageLength, orderBy, searchText, callback) {
            if (scope.__mode == 2) {
                var sort = {};
                $.each(orderBy, function (i, v) {
                    sort[v.columns] = (v.type === "asc") ? 1 : -1;
                });
                sort[orderBy[0].columns] =
                    services.api(url)
                    .data({
                            //parameter at here
                            "pageIndex": iPage - 1,
                            "pageSize": iPageLength,
                            "search": searchText,
                            "sort": sort,
                            "where": {
                                "filter": "role_code == @role_code",
                                "value": {"role_code":scope.entity.role_code}
                                }
                            })
                        .done()
                        .then(function (res) {
                            _.each(res.items, function (val) { val.user_group = 1; })
                            var data = {
                                recordsTotal: res.total_items,
                                recordsFiltered: res.total_items,
                                data: res.items
                            };
                            callback(data);
                            scope.currentItem = null;
                            scope.$apply();
                        })
            }
        }

        //Hàm load data table - END
        scope._tableData = _tableData;
        scope.onResizeDialog = onResizeDialog;
        scope.__mode = scope.$parent.mode;
        scope.title = scope.$parent.headerTitle;
        scope.col = 12;
        scope.col_group = 6;

        scope.entity = scope.__mode != 1 ? scope.$parent.currentItem : null;
        if (scope.__mode === 2 && scope.entity.users === []) {
            scope.entity.users = [];
        }
        scope.cbbDataDomain = [];

        scope.saveNClose = saveNClose;
        scope.saveNNext = saveNNext;

        scope.addNewUser = addNewUser;
        scope.deleteUser = deleteUser;

        scope.EditPermission = EditPermission;
        scope.deletePermission = deletePermission;

        //Scope select vùng dữ liệu
        scope.selectedItems = [];

        scope.$applyAsync();

        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col_group = scope.col_group == 6 ? 8 : 6;
            scope.col = scope.col == 12 ? 6 : 12;
            setTimeout(function () {
                $(window).trigger('resize');
            }, 100);
        }

        function saveNClose(event) {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(scope.entity, function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                    } else {
                        if (res.error.code == 'duplicate') {
                            var msg = '';
                            _.each(res.error.fields, function (val) {
                                if (val == "role_code")
                                    msg += "${get_res('role_code','Mã nhóm người dùng')}" + " " + "${get_global_res('exists','đã tồn tại')}" + "\n";
                                if (val == "role_name")
                                    msg += "${get_res('role_name','Tên nhóm người dùng')}" + " " + "${get_global_res('exists','đã tồn tại')}" + "\n";
                                if (val == "dd_code")
                                    msg += "${get_res('dd_code','Vùng dữ liệu truy cập')}" + " " + "${get_global_res('exists','đã tồn tại')}" + "\n";
                            });
                            $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", msg, function () { });
                        }
                    }
                });
            }
        };

        function saveNNext() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(scope.entity, function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            var entity = JSON.parse(JSON.stringify(scope.entity));
                            scope.$parent.currentItem = entity;
                            afterCallToServer();
                            scope.$applyAsync();
                            scope.$parent.$apply();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                    } else {
                        if (res.error.code == 'duplicate') {
                            var msg = '';
                            _.each(res.error.fields, function (val) {
                                if (val == "role_code")
                                    msg += "${get_res('role_code','Mã nhóm người dùng')}" + " " + "${get_global_res('exists','đã tồn tại')}" + "\n";
                                if (val == "role_name")
                                    msg += "${get_res('role_name','Tên nhóm người dùng')}" + " " + "${get_global_res('exists','đã tồn tại')}" + "\n";
                                if (val == "dd_code")
                                    msg += "${get_res('dd_code','Vùng dữ liệu truy cập')}" + " " + "${get_global_res('exists','đã tồn tại')}" + "\n";
                            });
                            $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", msg, function () { });
                        }
                    }
                });
            }
        };

        function addNewUser() {
            openDialog("${ get_res('add_new_user', 'Thêm người dùng') }", "permission/form/dialog/addUserGroup/addUser", function () { }, "myComboboxDialog");
        }

        function deleteUser() {
            if (!scope.selectedListUserItems || scope.selectedListUserItems.length === 0) {
            $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    services.api("${get_api_key('app_main.api.auth_user/remove_role_code_by_user')}")
                        .data({
                            "users":scope.selectedListUserItems
                        })
                        .done()
                        .then(function (res) {
                            if (res.error == null) {
                                _tableData("${get_api_key('app_main.api.auth_user/get_list_with_searchtext')}", scope.$$table_List_User_Config.iPage,
                                    scope.$$table_List_User_Config.iPageLength, scope.$$table_List_User_Config.orderBy,
                                    scope.$$table_List_User_Config.SearchText, scope.$$table_List_User_Config.fnReloadData);
                                $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                                scope.selectedListUserItems = null;
                                scope.ListUserCurrentItem = [];
                            } else {
                                $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                            }
                        })
                });
            }
        }

        function EditPermission() {
            openDialog("${ get_res('detail_permission', 'Chi thiết tính năng') }", "permission/form/dialog/addUserGroup/addPermission", function () { }, "myComboboxDialog");
        }

        function deletePermission() {
            if (!scope.treeSelectedNodes || scope.treeSelectedNodes.length === 0) {
            $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    services.api("${get_api_key('app_main.api.AD_Roles/remove_permission')}")
                        .data({
                            "role_code":scope.entity.role_code,
                            "permission":scope.treeSelectedNodes
                        })
                        .done()
                        .then(function (res) {
                            if (res.error == null) {
                                $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                                scope.treeCurrentNode = {};
                                scope.treeSelectedNodes = [];
                                scope.treeSelectedRootNodes = [];
                                //Load datatable tree
                                _permissionList();
                                scope.$apply();
                            } else {
                                $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                            }
                        })
                });
            }
        }

        /**
        * Hàm mở dialog
        * @param {string} title Tittle của dialog
        * @param {string} path Đường dẫn file template
        * @param {function} callback Xử lí sau khi gọi dialog
        * @param {string} id Id của form dialog, default = 'myModal'
        */
        function openDialog(title, path, callback, id = "myModal") {
            //check tồn tại của form dialog theo id
            if ($('#' + id).length === 0) {
                scope.headerTitle = title;
                //Đặt ID cho form dialog
                dialog(scope).url(path).done(function () {
                    callback();
                    setTimeout(function () {
                        $(window).trigger('resize');
                    }, 200)
                    //Set draggable cho form dialog
                    $dialog.draggable();
                });
            }
        }

        function editData(param, callback) {
            var url = getUrl();
            var parameter = JSON.parse(JSON.stringify(param));
            if (scope.__mode == 3) {
                //Loại bỏ các propery của angular ra khỏi object
                delete currentItem.$$regKey;
                delete currentItem._id;
                delete currentItem.$$selectKey;
            }
            services.api(url)
                .data(parameter)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            //Check role_code
            valid = lv.Validate(scope.entity.role_code);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === false ? "" : "${get_res('error_role_code_null_or_whitespace','Mã nhóm người dùng không được để trống')}" + "\n";
            if(rs.result === true)
                return rs;
            //Check role_name
            valid = lv.Validate(scope.entity.role_name);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === false ? "" : "${get_res('error_role_name_null_or_whitespace','Tên nhóm người dùng không được để trống')}" + "\n";
            if(rs.result === true)
                return rs;
            //dd_code
            valid = lv.Validate(scope.entity.dd_code);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === false ? "" : "${get_res('error_dd_code_null_or_whitespace','Vùng dữ liệu truy cập không được để trống')}" + "\n";
            if(rs.result === true)
                return rs

            return rs;
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
            tableConfig.searchText, tableConfig.fnReloadData);
        }

        function beforeCallToServer() {
            if (!scope.entity.hasOwnProperty("stop") || !scope.entity.stop)
                scope.entity.stop = false;
            scope.$applyAsync();
        }

        function afterCallToServer() {
            scope.entity = null;
        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.AD_Roles/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.AD_Roles/update')}" /*Mode 2: Cập nhật*/
        }

        //Load datatable tree
        _permissionList();

        scope.$watch('treeCurrentNode', function(newVal, old) {
            console.log('treeCurrentNode', newVal);
        })
        
        scope.$watch('treeSelectedNodes', function(newVal, old) {
            console.log('treeSelectedNodes', newVal);
        })
    });
</script>