<!--$parent.mapName[0].function_id: function_id chức năng của tab hiện tại index tăng dần theo thứ tự các tab-->
<div class="tab-pane" style="padding-right:unset; height: 100%; padding-left:15px; padding-top:15px;">
    <div class="row">
        <div class="col-md-6">
            <%include file = "province.html" />
            <%include file = "district.html" />
        </div>
        <div class="col-md-6" style="padding-right: 30px;">
            <%include file = "ward.html" />
            <%include file = "hamlet.html" />
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    <%include file = "./scripts/administrativesubdivisions.js" />
</script>