    <div id="collapseTableAwardPlace" class="row">
        <div class="col-md-12" style="height: 42.5vh;">
            <collapse-box class="zb-form-common" title="${get_res('award_place_caption_toolbar','Tổ chức khen thưởng')}">
                <toolbar>
                    <input-text-icon icon="bowtie-icon bowtie-search"
                                     on-click="onSearch"></input-text-icon>
                    <button ng-click="onAddProvince()" class="zb-btn zb-btn-o-green">
                        <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
                    <button ng-click="onEditProvince()" class="zb-btn zb-btn-o-blue">
                        <i class="bowtie-icon bowtie-edit-outline"></i>
                    </button>
                    <button ng-click="onDeleteProvince()" class="zb-btn zb-btn-o-red">
                        <i class="bowtie-icon bowtie-trash"></i>
                    </button>
                    <button ng-click="onReloadProvince()" class="zb-btn">
                        <i class="bowtie-icon bowtie-navigate-refresh"></i>
                    </button>
                </toolbar>
                <table-data data-source="tableSource" fields="tableFields" type="MultiSelect" 
                server-side="true" page-length="100" paging="true" 
                selected-items="selectedItems"
                current-item="currentItem" search-text="tableSearchText"
                refresh-row="refreshDataRow">
                </table-data>
            </collapse-box>
        </div>
    </div>
<script>
    <%include file = "./scripts/awardplace.js" />
</script>