
    <div id="collapseTableDistrict" class="row">
        <div class="col-md-12" style="height: calc((100vh - 120px)/2)">
            <collapse-box class="zb-form-common" title="${get_res('district_caption_toolbar','2. Quận/Huyện')}">
                <toolbar>
                    <input-text-icon icon="bowtie-icon bowtie-search"
                                     on-click="onSearchDistinct"></input-text-icon>
                    <button ng-click="onAddDistrict()" class="zb-btn zb-btn-o-green">
                        <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
                    <button ng-click="onEditDistrict()" class="zb-btn zb-btn-o-blue">
                        <i class="bowtie-icon bowtie-edit-outline"></i>
                    </button>
                    <button ng-click="onDeleteDistrict()" class="zb-btn zb-btn-o-red">
                        <i class="bowtie-icon bowtie-trash"></i>
                    </button>
                    <button ng-click="onReloadDistrict()" class="zb-btn">
                        <i class="bowtie-icon bowtie-navigate-refresh"></i>
                    </button>
                </toolbar>
                <table-data data-source="tableDistrictSource" fields="tableDistrictFields" type="MultiSelect" 
                server-side="true" page-length="100" paging="true" 
                selected-items="selectedDistricts"
                current-item="currentDistrict" search-text="tableDistrictSearchText"
                refresh-row="refreshDataDistrictRow">
                </table-data>
            </collapse-box>
        </div>
    </div>

<script>
    (function (scope) {
        //Cấu hình tên field và caption hiển thị trên UI
        scope.tableDistrictFields = [
            { "data": "district_code", "title": "${get_res('code_table_header','Mã')}" },
            { "data": "district_name", "title": "${get_res('name_table_header','Tên')}" },
            { "data": "org_district_code", "title": "${get_res('org_code_header','Mã quy định')}" },
            { "data": "ordinal", "title": "${get_res('ordinal_table_header','Thứ tự')}" }
        ];
        //
        scope.$$tableDistrictConfig = {};
        //Dữ liệu cho table
        scope.tableDistrictSource = _loadDistrictDataServerSide;
        function _loadDistrictDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText) {
            scope.$$tableDistrictConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText
            };
            //setTimeout(function () {
            if (fnReloadData) {
                if (searchText) {
                    _tableDistrictData(iPage, iPageLength, orderBy, searchText, function (data) {
                        fnReloadData(data);
                    });
                } else {
                    _tableDistrictData(iPage, iPageLength, orderBy, null, function (data) {
                        fnReloadData(data);
                    });
                }
            }
            //}, 1000);
        };
        //Danh sách các dòng đc chọn (nếu là table MultiSelect)
        scope.selectedDistricts = [];
        //Dòng hiện tại đang được focus (nếu table là SingleSelect hoặc MultiSelect)
        scope.currentDistrict = null;
        scope.tableDistrictSearchText = '';
        //Refesh table
        scope.refreshDataDistrictRow = function () { /*Do nothing*/ };
        //Mode 1: tạo mới, Mode 2: chỉnh sửa, Mode 3: sao chép
        scope.district_mode = 0;
        scope.onEditDistrict = onEditDistrict;
        scope.onAddDistrict = onAddDistrict;
        scope.onDeleteDistrict = onDeleteDistrict;
        scope.onReloadDistrict = onReloadDistrict;
        scope._tableDistrictData = _tableDistrictData;

        scope.onSearchDistinct = function (txt) {
            scope.tableDistrictSearchText = txt;
            scope.$applyAsync();
        }
        console.log(scope.districtSearch);

        scope.$applyAsync();
        /**
         * Hàm mở form chỉnh sửa
         */
        function onEditDistrict() {
            if (scope.currentDistrict) {
                scope.district_mode = 2; // set mode chỉnh sửa
                openDialog("${get_res('Detail_District','Chi tiết Quận/Huyện')}", 'category/form/addDistrict', function () { }, "addDistrict");
            } else {
                $msg.message("${get_global_res('Notification','Thông báo')}", "${get_app_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            }
        }

        /**
         * Hàm mở form tạo moi
         */
        function onAddDistrict() {
            scope.district_mode = 1;// set mode tạo mới
            openDialog("${get_res('Detail_District','Chi tiết Quận/Huyện')}", 'category/form/addDistrict', function () { }, "addDistrict");
        }
        function onDeleteDistrict() {
            if (!scope.selectedDistricts || scope.selectedDistricts.length === 0) {
                $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    services.api("${get_api_key('app_main.api.HCSLS_District/delete')}")
                        .data(scope.selectedDistricts)
                        .done()
                        .then(function (res) {
                            if (res.deleted > 0) {
                                _tableDistrictData(scope.$$tableDistrictConfig.iPage, scope.$$tableDistrictConfig.iPageLength, scope.$$tableDistrictConfig.orderBy, scope.$$tableDistrictConfig.SearchText, scope.$$tableDistrictConfig.fnReloadData);
                                $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                                scope.currentDistrict = null;
                                scope.selectedDistricts = [];
                            }
                        })
                });
            }
        }
        function onReloadDistrict() {
            var tableConfig = scope.$$tableDistrictConfig;
            _tableDistrictData(tableConfig.iPage,
                tableConfig.iPageLength, tableConfig.orderBy,
                tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Hàm mở dialog
         * @param {string} title Tittle của dialog
         * @param {string} path Đường dẫn file template
         * @param {function} callback Xử lí sau khi gọi dialog
         * @param {string} id Id của form dialog, default = 'myModal'
         */
        function openDialog(title, path, callback, id = 'myModal') {

            //check tồn tại của form dialog theo id
            if ($('#' + id).length === 0) {
                scope.headerTitle = title;
                //Đặt ID cho form dialog
                dialog(scope, id).url(path).done(function () {
                    callback();
                    //Set draggable cho form dialog
                    $dialog.draggable();
                });
            }
        }

        function _tableDistrictData(iPage, iPageLength, orderBy, searchText, callback) {
            var sort = {};
            $.each(orderBy, function (i, v) {
                sort[v.columns] = (v.type === "asc") ? 1 : -1;
            });
            sort[orderBy[0].columns] =
                services.api("${get_api_key('app_main.api.HCSLS_District/get_list_with_searchtext')}")
                    .data({
                        //parameter at here
                        "pageIndex": iPage - 1,
                        "pageSize": iPageLength,
                        "search": searchText,
                        "where": {
                            "province_code": scope.currentProvince ? scope.currentProvince.province_code : " "
                        },
                        "sort": sort
                    })
                    .done()
                    .then(function (res) {
                        var data = {
                            recordsTotal: res.total_items,
                            recordsFiltered: res.total_items,
                            data: res.items
                        };
                        callback(data);
                        scope.currentItem = null;
                        scope.$apply();
                    })
        }
    });
</script>