<!--<hcs-tool-bar on-edit="onEdit()"
              on-add="onAdd()"
              on-delete="onDelete()"
              on-copy="onCopy()"
              on-export="onExport()"
              on-import="onImport()"
              search-common="SearchText"
              on-search="onSearch()"></hcs-tool-bar>-->
<!--$parent.mapName[0].function_id: function_id chức năng của tab hiện tại index tăng dần theo thứ tự các tab-->
<div class="tab-pane" style="padding-right:unset; height: 100%; ">
    <collapse-box class="zb-datatable" title="${get_res('list_nation','Danh sách quốc gia')}">
    <table-data data-source="tableSource" fields="tableFields" type="MultiSelect" 
                paging="true" page-length="100" server-side="true" 
                press-enter="onSelectTableRow" selected-items="selectedItems" 
                current-item="currentItem" search-text="tableSearchText"
                refresh-row="refreshDataRow"
                selected-field="">
    </table-data>
    </collapse-box>
    <div class="clearfix"></div>
</div>
<script>
    <%include file="scripts/nation.js"/>
</script>
